@charset "UTF-8";
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProRegular.eot");
  src: local("☺"), url("../fonts/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular.ttf") format("truetype"), url("../fonts/GothamProRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProMedium.eot");
  src: local("☺"), url("../fonts/GothamProMedium.woff") format("woff"), url("../fonts/GothamProMedium.ttf") format("truetype"), url("../fonts/GothamProMedium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProBold.eot");
  src: local("☺"), url("../fonts/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold.ttf") format("truetype"), url("../fonts/GothamProBold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.header__content {
  height: 190px;
  padding-left: 10px;
  padding-right: 10px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
}
.header__menu {
  width: 540px;
  margin-top: 86px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header__logo {
  min-width: 120px;
  border: 1px solid #000;
  margin-top: 45px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
.header__icons {
  display: flex;
  justify-content: space-between;
  width: 255px;
  height: 28px;
  border: 1px solid #000;
  position: absolute;
  top: 40px;
  right: 20px;
}
.header__search {
  border: 1px solid red;
  padding-left: 202px;
}

.menu__item {
  color: #282828;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.74px;
  transition: 0.3s linear;
}
.menu__item:hover {
  color: #e9b979;
}

.left-menu {
  position: relative;
}

.logo__img {
  width: 101px;
  height: 63px;
  margin: 0 auto;
  display: block;
}
.logo__title {
  color: #282828;
  font-size: 19px;
  font-weight: 700;
  margin-top: 10px;
  text-transform: uppercase;
  text-align: center;
}

.basket__img {
  width: 15px;
  height: 15px;
}

.search__img {
  width: 15px;
  height: 15px;
}

.home {
  background: url(../img/home-background.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
  text-align: center;
  height: 585px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home__content {
  padding: 0 10px 0 10px;
}
.home__subtitle {
  font-size: 16px;
}
.home__title {
  margin-top: 38px;
  margin-bottom: 108px;
  font-size: 80px;
  font-weight: bold;
}
.home__button {
  display: flex;
  justify-content: center;
}
.home__link {
  margin: 0 auto;
  display: block;
  color: #fff;
  padding: 24px 80px;
  background-color: #e9b979;
  transition: 0.3s linear;
  border-radius: 22px;
  font-size: 20px;
}
.home__link:hover {
  background-color: #fff;
  color: #e9b979;
}

@media screen and (min-width: 1921px) {
  .home {
    height: 700px;
  }
}
.about {
  color: #fff;
}
.about__content {
  overflow: hidden;
  width: 100%;
  display: flex;
}
.about__left-block {
  background-color: #e9b979;
  height: 803px;
  width: 46.3%;
}
.about__title {
  width: 169px;
  color: #fefefe;
  font-size: 46px;
  font-weight: bold;
  line-height: 61.8px;
  letter-spacing: 1.74px;
  text-transform: uppercase;
  padding-bottom: 52px;
}
.about__text {
  padding-bottom: 68px;
  color: #fefefe;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.16px;
}
.about__link {
  color: #fefefe;
  font-size: 17px;
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 0.16px;
}
.about__right-block {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid #000;
  width: 53.7%;
  height: 803px;
  background: url(../img/about.jpg) no-repeat center;
  background-size: cover;
}
.left-block__container {
  padding: 0 10px 0 10px;
  margin-top: 118px;
  margin-right: 140px;
  margin-bottom: 86px;
  margin-left: 240px;
  max-width: 512px;
  max-height: 803px;
  height: 803px;
  border: 1px solid #000;
}

@media screen and (max-width: 426px) {
  .about__title {
    font-size: 25px;
    padding-bottom: 20px;
  }
  .about__text {
    font-size: 16px;
  }
  .about__link {
    font-size: 16px;
  }
  .about__left-block {
    height: 300px;
  }
  .about__right-block {
    height: 400px;
  }

  .left-block__container {
    margin: 0;
    padding: 10px;
    margin: 0px;
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .about__right-block {
    max-height: 460px;
  }
  .about__left-block {
    max-height: 460px;
  }

  .left-block__container {
    margin: 50px;
    max-width: 100%;
    padding-right: 10px;
  }
}
@media screen and (width: 1024px) {
  .left-block__container {
    margin: 100px;
    max-width: 100%;
    padding-right: 10px;
    height: 600px;
  }
}
@media screen and (max-width: 1024px) {
  .about__content {
    flex-wrap: wrap-reverse;
  }
  .about__left-block {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .about__right-block {
    width: 100%;
  }
}
@media screen and (width: 1280px) {
  .about__content {
    margin-left: 0;
    margin-right: 0px;
    max-width: 100%;
    height: 700px;
  }
  .about__left-block {
    margin-left: 0;
    margin-right: 0px;
    max-width: 100%;
    padding-right: 10px;
  }
  .about .left-block__container {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0px;
    max-width: 100%;
    padding-right: 10px;
  }
}
@media screen and (width: 1440px) {
  .left-block__container {
    margin-left: 0;
    margin-right: 40px;
    max-width: 100%;
    padding-right: 10px;
    height: 703px;
  }
}
@media screen and (width: 2560px) {
  .left-block__container {
    margin-left: 560px;
    margin-right: 20px;
    max-width: 100%;
    padding-right: 10px;
    height: 703px;
  }
}
.bestsellers__title {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 30px;
  text-align: center;
}
.bestsellers__link {
  color: #000;
  text-decoration: underline;
  display: block;
  text-align: center;
  padding-bottom: 80px;
}

.slider__img {
  width: 280px;
  height: 360px;
}
/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.slider {
  position: relative;
  padding: 0 50px;
  /*height: 1000px;*/
}

/*.slider .slick-track {
    display: block;
}*/
.slider .slick-arrow {
  position: absolute;
  margin: -30px 0 0 0;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 6px;
  height: 10px;
}

.slider {
  padding-bottom: 60px;
}
.slider__item {
  text-align: center;
  text-decoration: none;
  color: #8a8a8a;
  font-family: "Gotham Pro";
  font-size: 18px;
  font-weight: 400;
}
.slider .slick-arrow .slick-prev {
  left: 0;
  background: url("./img/left-arrow.png") 0 0/100% no-repeat;
}
.slider .slick-arrow .slick-next {
  right: 0;
  background: url("./img/right-arrow.png") 0 0/100% no-repeat;
}
.slider .slick-arrow .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-arrow .slick-dots li {
  list-style: none;
  margin: 0 10px;
}
.slider .slick-arrow .slick-dots button {
  display: flex;
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #666;
  border-radius: 50%;
}

/* Активная точка */
/* Элемент точки */
.bestsellers {
  min-height: 100vh;
}

.bestsellers__title {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 30px;
  text-align: center;
}

.bestsellers__slider {
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bestsellers__link {
  color: #000;
  text-decoration: underline;
  display: block;
  text-align: center;
  padding-bottom: 80px;
}

.slider__block {
  color: #000;
  text-align: center;
  max-width: 290px;
  max-width: 360px;
  border: 1px solid #000;
}

.slider__img {
  width: 280px;
  height: 360px;
}

.slider__title {
  color: #8a8a8a;
  text-decoration: none;
}

.care {
  color: #fff;
}
.care__content {
  display: flex;
  overflow: hidden;
  width: 100%;
  display: flex;
}
@media screen and (max-width: 1024px) {
  .care__content {
    flex-wrap: wrap;
  }
}
.care__left-block {
  width: 53.7%;
  height: 803px;
}
.care__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.care__right-block {
  width: 46.3%;
  padding: 80px;
  background-color: #e9b979;
  height: 803px;
}
@media screen and (max-width: 1024px) {
  .care__right-block {
    width: 100%;
  }
}
.care__title {
  text-transform: uppercase;
  color: #fefefe;
  font-size: 46px;
  font-weight: bold;
  line-height: 61.8px;
  letter-spacing: 1.74px;
}
.care__text {
  border: 1px solid #000;
  line-height: 27px;
  width: 526px;
  color: #fefefe;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.16px;
}
.care__link {
  color: #fefefe;
  font-size: 17px;
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 0.16px;
}

.advantages__content {
  max-height: 640px;
}
.advantages__title {
  text-align: center;
  color: #282828;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1.36px;
}
.advantages__list-of-advantages {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.advantages__text {
  color: #282828;
  font-size: 24px;
  letter-spacing: 0.24px;
}

.gallery__content {
  height: 684px;
  display: flex;
  flex-wrap: wrap;
}
.gallery__left-block {
  padding-top: 250px;
  min-width: 500px;
  border: 1px solid red;
  text-align: center;
}
.gallery__title {
  color: #282828;
  font-size: 40px;
  font-weight: bold;
  line-height: 61.8px;
  /* Text style for "Галерея" */
  letter-spacing: 1.51px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.gallery__link {
  color: #b9b9b9;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.16px;
  display: block;
  text-decoration: underline;
}
.gallery__right-block {
  margin-top: 124px;
  display: flex;
  justify-content: center;
  width: 930px;
  border: 1px solid blue;
}
.gallery__block1 {
  border: 1px solid green;
  margin-right: 14px;
  max-width: 554px;
  max-height: 435px;
}
.gallery__block2 {
  max-width: 358px;
}
.block1__img1 {
  max-width: 555px;
}
.block2__img1 {
  margin-bottom: 14px;
}
.footer {
  margin-top: auto;
  width: 100%;
  background-color: #e9b979;
  font-weight: bold;
}
.footer__content {
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__left-block {
  margin-top: 80px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  max-width: 260px;
}
.footer__address {
  margin-bottom: 20px;
}
.footer__center-block {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 260px;
}
.footer__title {
  margin-bottom: 10px;
}
.footer__right-block {
  position: relative;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  width: 260px;
}
.footer__tel-num {
  position: absolute;
  right: 0;
  text-align: center;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
}
.footer__list-of-soc-net {
  position: absolute;
  right: 0;
  top: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 48px;
  border: 1px solid #000;
  width: 80px;
  display: flex;
  justify-content: space-between;
}
.tel-num__title {
  margin-left: 45px;
  margin-bottom: 13px;
}
.tel-num__tel-num1 {
  margin-bottom: 5px;
}
.footer-logo__img {
  margin-bottom: 10px;
  width: 59px;
  height: 37px;
}

.whatsapp__img {
  display: block;
  height: 15px;
  width: 15px;
}

.telegram__img {
  display: block;
  width: 19px;
  height: 15px;
}

.viber__img {
  display: block;
  width: 14px;
  height: 15px;
}

.wrapper {
  overflow: hidden;
  font-family: GothamPro;
}

.container {
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
  border: 1px solid red;
}