@charset "UTF-8";
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProRegular.eot");
  src: local("☺"), url("../fonts/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular.ttf") format("truetype"), url("../fonts/GothamProRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProMedium.eot");
  src: local("☺"), url("../fonts/GothamProMedium.woff") format("woff"), url("../fonts/GothamProMedium.ttf") format("truetype"), url("../fonts/GothamProMedium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProBold.eot");
  src: local("☺"), url("../fonts/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold.ttf") format("truetype"), url("../fonts/GothamProBold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.home {
  background: url(../img/home-background.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home__content {
  padding: 0 10px 0 10px;
}
.home__subtitle {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.66px;
}
.home__title {
  margin-top: 38px;
  margin-bottom: 108px;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 7.22px;
}
.home__button {
  display: flex;
  justify-content: center;
}
.home__link {
  margin: 0 auto;
  display: block;
  color: #fff;
  padding: 24px 80px;
  background-color: #e9b979;
  transition: 0.3s linear;
  border-radius: 22px;
  font-size: 20px;
}
.home__link:hover {
  background-color: #fff;
  color: #e9b979;
}

@media screen and (width: 2560px) {
  .home__content {
    padding: 0 10px 0 10px;
  }
  .home__subtitle {
    font-size: 36px;
  }
  .home__title {
    margin-top: 48px;
    margin-bottom: 118px;
    font-size: 100px;
  }
  .home__link {
    margin: 0 auto;
    display: block;
    color: #fff;
    padding: 38px 96px;
    font-size: 34px;
    border-radius: 42px;
  }
}
@media screen and (max-width: 769px) {
  .home__content {
    padding: 0 10px 0 10px;
  }
  .home__subtitle {
    font-size: 16px;
  }
  .home__title {
    margin-top: 28px;
    margin-bottom: 38px;
    font-size: 60px;
  }
  .home__link {
    padding: 18px 74px;
    font-size: 24px;
  }
}
@media screen and (max-width: 426px) {
  .home__content {
    padding: 0 10px 0 10px;
  }
  .home__subtitle {
    font-size: 14px;
  }
  .home__title {
    margin-top: 36px;
    margin-bottom: 44px;
    font-size: 38px;
  }
  .home__link {
    padding: 14px 70px;
    font-size: 22px;
  }
}
@media screen and (max-width: 376px) {
  .home__content {
    padding: 0 10px 0 10px;
  }
  .home__subtitle {
    font-size: 12px;
  }
  .home__title {
    margin-top: 28px;
    margin-bottom: 38px;
    font-size: 32px;
  }
  .home__link {
    padding: 14px 70px;
    font-size: 20px;
  }
}
@media screen and (max-width: 321px) {
  .home__content {
    padding: 0 10px 0 10px;
  }
  .home__subtitle {
    font-size: 12px;
  }
  .home__title {
    margin-top: 28px;
    margin-bottom: 38px;
    font-size: 26px;
  }
  .home__link {
    padding: 10px 40px;
    font-size: 18px;
  }
}
.about {
  color: #fff;
}
.about__content {
  overflow: hidden;
  width: 100%;
  display: flex;
}
.about__left-block {
  position: relative;
  background-color: #e9b979;
  height: 803px;
  width: 46.3%;
}
.about__title {
  width: 169px;
  color: #fefefe;
  font-size: 46px;
  font-weight: bold;
  letter-spacing: 1.74px;
  text-transform: uppercase;
  padding-bottom: 52px;
}
.about__text {
  padding-bottom: 68px;
  color: #fefefe;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.16px;
}
.about__link {
  color: #fefefe;
  font-size: 17px;
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 0.16px;
}
.about__right-block {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid #000;
  width: 53.7%;
  height: 803px;
  background: url(../img/about.jpg) no-repeat center;
  background-size: cover;
}
.left-block__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px 0 10px;
  position: absolute;
  right: 49px;
  margin-bottom: 86px;
  width: 600px;
  max-height: 803px;
  height: 803px;
  border: 1px solid #000;
}

@media screen and (min-width: 2559px) {
  .about__title {
    font-size: 46px;
    padding-bottom: 52px;
  }
  .about__text {
    padding-bottom: 50px;
    font-size: 20px;
    letter-spacing: 0.16px;
    line-height: 20px;
  }
  .about__link {
    font-size: 20px;
  }

  .left-block__container {
    max-width: 100%;
    height: 100%;
    right: 10px;
  }
}
@media screen and (max-width: 1441px) {
  .about__title {
    font-size: 46px;
    padding-bottom: 52px;
  }
  .about__text {
    padding-bottom: 50px;
    font-size: 20px;
    letter-spacing: 0.16px;
  }
  .about__link {
    font-size: 20px;
  }

  .left-block__container {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    padding: 0 20px;
    height: 100%;
  }
}
@media screen and (width: 1280px) {
  .about__content {
    margin-left: 0;
    margin-right: 0px;
    max-width: 100%;
    height: 700px;
  }
  .about__left-block {
    margin-left: 0;
    margin-right: 0px;
    max-width: 100%;
    padding-right: 10px;
  }
  .about .left-block__container {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0px;
    max-width: 100%;
    padding-right: 10px;
  }
}
@media screen and (max-width: 1025px) {
  .about__content {
    flex-wrap: wrap-reverse;
  }
  .about__title {
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: 40px;
  }
  .about__text {
    font-size: 26px;
    padding-bottom: 30px;
  }
  .about__link {
    font-size: 26px;
  }
  .about__left-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100vh;
  }
  .about__right-block {
    width: 100%;
    height: 100vh;
  }

  .left-block__container {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    right: 0;
  }
}
@media screen and (max-width: 769px) {
  .about__title {
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 16px;
    font-size: 36px;
  }
  .about__text {
    font-size: 22px;
    padding-bottom: 30px;
  }
  .about__link {
    font-size: 22px;
  }
  .about__right-block {
    width: 100%;
    height: 768px;
  }
}
@media screen and (max-width: 426px) {
  .about__title {
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 16px;
    font-size: 30px;
  }
  .about__text {
    font-size: 16px;
    padding-bottom: 20px;
  }
  .about__link {
    font-size: 16px;
  }
  .about__right-block {
    width: 100%;
    height: 526px;
  }
}
@media screen and (max-width: 376px) {
  .about__title {
    font-size: 22px;
    padding-bottom: 10px;
  }
  .about__text {
    font-size: 15px;
    padding-bottom: 10px;
  }
  .about__link {
    font-size: 16px;
  }
  .about__right-block {
    width: 100%;
    height: 476px;
  }

  .left-block__container {
    margin: 0;
    padding: 10px;
    margin: 0px;
    max-width: 100%;
  }
}
@media screen and (max-width: 321px) {
  .about__title {
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .about__text {
    font-size: 14px;
    padding-bottom: 6px;
  }
  .about__link {
    font-size: 14px;
  }
  .about__right-block {
    width: 100%;
    height: 420px;
  }

  .left-block__container {
    margin: 0;
    padding: 10px;
    margin: 0px;
    max-width: 100%;
  }
}
.bestsellers__title {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 30px;
  text-align: center;
}
.bestsellers__link {
  color: #e9b979;
  text-decoration: underline;
  display: block;
  text-align: center;
  padding-bottom: 80px;
  font-size: 17px;
  font-weight: bold;
}

.slider__button {
  color: #e9b979;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.34px;
  border: 3px solid #e9b979;
  border-radius: 16px;
  padding: 5px;
  transition: all 0.3s linear;
}
.slider__button:hover {
  background-color: #e9b979;
  color: #fff;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider {
  position: relative;
  padding: 0 50px;
  margin-bottom: 83px;
}

.slider__item_inner {
  display: flex;
  justify-content: space-between;
  max-width: 375px;
  margin: 0 auto;
}

.inner__block {
  position: relative;
}

.slider__img {
  max-width: 376px;
  max-width: 442px;
}

.slider__title {
  color: #8a8a8a;
  text-decoration: none;
}

.slider__subtitle {
  color: #8a8a8a;
  text-decoration: none;
  position: absolute;
  left: 0;
}

.slider .slick-arrow {
  position: absolute;
  margin: -30px 0 0 0;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 6px;
  height: 10px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  border: 1px solid #999;
  background-color: #fff;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: url("../img/left-arrow.png") 40% no-repeat;
  transition: 0.3s linear;
}
.slider .slick-arrow.slick-prev:hover {
  background-color: #ebebeb;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/right-arrow.png") 60% no-repeat;
  border: 1px solid #999;
  background-color: #fff;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.slider .slick-arrow.slick-next:hover {
  background-color: #ebebeb;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #666;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: #333;
}

.slider__item {
  text-align: center;
  text-decoration: none;
  color: #8a8a8a;
  font-size: 18px;
  font-weight: 400;
  min-height: 500px;
}

@media screen and (min-width: 2559px) {
  .bestsellers {
    height: 100vh;
  }
  .bestsellers__title {
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 50px;
  }
  .bestsellers__link {
    padding-bottom: 150px;
    font-size: 24px;
  }

  .slider {
    padding: 0 15px;
    margin-bottom: 93px;
  }
  .slider__button {
    font-size: 13px;
    letter-spacing: 1.34px;
    border-radius: 16px;
    padding: 5px;
  }

  .slider__item_inner {
    max-width: 386px;
  }

  .slider__img {
    max-width: 386px;
    max-width: 452px;
  }

  .slider .slick-arrow.slick-prev {
    left: 0;
    width: 36px;
    height: 36px;
  }

  .slider .slick-arrow.slick-next {
    width: 36px;
    height: 36px;
  }

  .slider__item {
    font-size: 20px;
    min-height: 550px;
  }
}
@media screen and (max-width: 1441px) {
  .bestsellers__title {
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 25px;
  }
  .bestsellers__link {
    padding-bottom: 60px;
    font-size: 16px;
  }

  .slider__button {
    font-size: 12px;
    letter-spacing: 1.34px;
    border-radius: 16px;
    padding: 5px;
  }

  .slider {
    padding: 0 30px;
    margin-bottom: 63px;
  }

  .slider__item_inner {
    max-width: 306px;
  }

  .slider__img {
    max-width: 306px;
    max-width: 372px;
  }

  .slider .slick-arrow {
    position: absolute;
    margin: -30px 0 0 0;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 6px;
    height: 10px;
  }

  .slider .slick-arrow.slick-prev {
    left: 20px;
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }

  .slider .slick-arrow.slick-next {
    right: 20px;
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }

  .slider__item {
    font-size: 16px;
    min-height: 500px;
  }
}
@media screen and (max-width: 1025px) {
  .bestsellers {
    height: 100vh;
  }
  .bestsellers__title {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 20px;
  }
  .bestsellers__link {
    padding-bottom: 30px;
    font-size: 14px;
  }

  .slider__button {
    font-size: 12px;
    letter-spacing: 1.34px;
    padding: 3px;
  }

  .slider {
    padding: 0 30px;
    margin-bottom: 10px;
  }

  .slider__item_inner {
    max-width: 265px;
  }

  .slider__img {
    max-width: 206px;
    max-width: 272px;
  }

  .slider .slick-arrow {
    position: absolute;
    margin: -40px 0 0 0;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 6px;
    height: 10px;
  }

  .slider .slick-arrow.slick-prev {
    left: 20px;
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }

  .slider .slick-arrow.slick-next {
    right: 20px;
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }

  .slider__item {
    font-size: 16px;
    min-height: 380px;
  }
}
@media screen and (max-width: 769px) {
  .bestsellers {
    height: 100vh;
  }
  .bestsellers__title {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 20px;
  }
  .bestsellers__link {
    padding-bottom: 30px;
    font-size: 14px;
  }

  .slider__button {
    font-size: 12px;
    letter-spacing: 1.34px;
    padding: 8px;
    position: absolute;
    top: 30px;
  }

  .slider {
    padding: 0 30px;
    margin-bottom: 10px;
  }

  .slider__item_inner {
    max-width: 295px;
    display: flex;
    flex-wrap: wrap;
  }

  .slider__img {
    max-width: 176px;
    max-width: 252px;
  }

  .slider .slick-arrow {
    position: absolute;
    margin: -40px 0 0 0;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 6px;
    height: 10px;
  }

  .slider .slick-arrow.slick-prev {
    left: 20px;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    display: none;
  }

  .slider .slick-arrow.slick-next {
    right: 20px;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    display: none;
  }

  .slider__item {
    font-size: 16px;
    min-height: 380px;
  }
}
.care {
  color: #fff;
}
.care__content {
  display: flex;
  overflow: hidden;
  width: 100%;
  display: flex;
}
.care__left-block {
  width: 100%;
  display: flex;
  justify-content: center;
  width: 53.7%;
  height: 803px;
  background: url(../img/care.jpg) no-repeat center;
  background-size: cover;
}
.care__right-block {
  position: relative;
  background-color: #e9b979;
  height: 803px;
  width: 46.3%;
}
.care__title {
  margin: 0 auto;
  color: #fefefe;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1.74px;
  text-transform: uppercase;
  padding-bottom: 52px;
}
.care__text {
  padding-bottom: 68px;
  color: #fefefe;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.16px;
}
.care__link {
  color: #fefefe;
  font-size: 17px;
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 0.16px;
}

.right-block__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px 0 10px;
  position: absolute;
  left: 49px;
  margin-bottom: 86px;
  width: 600px;
  max-height: 803px;
  height: 803px;
  border: 1px solid #000;
}

@media screen and (min-width: 2559px) {
  .care__title {
    font-size: 46px;
    padding-bottom: 52px;
  }
  .care__text {
    padding-bottom: 50px;
    font-size: 20px;
    letter-spacing: 0.16px;
    line-height: 20px;
  }
  .care__link {
    font-size: 20px;
  }

  .right-block__container {
    max-width: 100%;
    height: 100%;
    left: 10px;
  }
}
@media screen and (max-width: 1441px) {
  .care__title {
    font-size: 46px;
    padding-bottom: 52px;
  }
  .care__text {
    padding-bottom: 50px;
    font-size: 20px;
    letter-spacing: 0.16px;
  }
  .care__link {
    font-size: 20px;
  }

  .right-block__container {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    padding: 0 20px;
    height: 100%;
  }
}
@media screen and (width: 1280px) {
  .care__content {
    margin-left: 0;
    margin-right: 0px;
    max-width: 100%;
    height: 700px;
  }
  .care__right-block {
    margin-left: 0;
    margin-right: 0px;
    max-width: 100%;
    padding-right: 10px;
  }
  .care .right-block__container {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0px;
    max-width: 100%;
    padding-right: 10px;
  }
}
@media screen and (max-width: 1025px) {
  .care__content {
    flex-wrap: wrap;
  }
  .care__title {
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: 40px;
  }
  .care__text {
    font-size: 26px;
    padding-bottom: 30px;
  }
  .care__link {
    font-size: 26px;
  }
  .care__right-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100vh;
  }
  .care__left-block {
    width: 100%;
    height: 100vh;
  }

  .right-block__container {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 0;
  }
}
@media screen and (max-width: 769px) {
  .care__title {
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 16px;
    font-size: 36px;
  }
  .care__text {
    font-size: 22px;
    padding-bottom: 30px;
  }
  .care__link {
    font-size: 22px;
  }
  .care__left-block {
    width: 100%;
    height: 768px;
  }
}
@media screen and (max-width: 426px) {
  .care__title {
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 16px;
    font-size: 30px;
  }
  .care__text {
    font-size: 16px;
    padding-bottom: 20px;
  }
  .care__link {
    font-size: 16px;
  }
  .care__left-block {
    width: 100%;
    height: 526px;
  }
}
@media screen and (max-width: 376px) {
  .care__title {
    font-size: 22px;
    padding-bottom: 10px;
  }
  .care__text {
    font-size: 15px;
    padding-bottom: 10px;
  }
  .care__link {
    font-size: 16px;
  }
  .care__left-block {
    width: 100%;
    height: 476px;
  }

  .right-block__container {
    margin: 0;
    padding: 10px;
    margin: 0px;
    max-width: 100%;
  }
}
@media screen and (max-width: 321px) {
  .care__title {
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .care__text {
    font-size: 14px;
    padding-bottom: 6px;
  }
  .care__link {
    font-size: 14px;
  }
  .care__left-block {
    width: 100%;
    height: 420px;
  }

  .lright-block__container {
    margin: 0;
    padding: 10px;
    margin: 0px;
    max-width: 100%;
  }
}
.advantages__content {
  max-height: 640px;
}
.advantages__title {
  margin-bottom: 110px;
  margin-top: 194px;
  text-align: center;
  color: #282828;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1.36px;
}
.advantages__list-of-advantages {
  margin-bottom: 239px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.advantages__item {
  margin: 0;
  max-width: 339px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
}
.advantages__circle {
  margin-bottom: 50px;
}
.advantages__img {
  margin: 0 auto;
  width: 139px;
  height: 139px;
}
.advantages__text {
  letter-spacing: 0.24px;
  font-weight: 500;
  color: #282828;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .advantages__content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .advantages__title {
    margin-bottom: 60px;
    margin-top: 40px;
    font-size: 36px;
  }
  .advantages__list-of-advantages {
    margin-bottom: 60px;
    flex-direction: column;
  }
  .advantages__item {
    max-width: 758px;
    margin: 0 auto;
  }
  .advantages__circle {
    margin-bottom: 20px;
  }
  .advantages__img {
    width: 139px;
    height: 139px;
  }
  .advantages__text {
    max-width: 309px;
    font-size: 20px;
  }
}
@media screen and (max-width: 425px) {
  .advantages__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .advantages__title {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 34px;
  }
  .advantages__list-of-advantages {
    margin-bottom: 40px;
    flex-direction: column;
  }
  .advantages__item {
    max-width: 4150px;
    margin: 0 auto;
  }
  .advantages__circle {
    margin-bottom: 10px;
  }
  .advantages__img {
    width: 119px;
    height: 119px;
  }
  .advantages__text {
    max-width: 309px;
    font-size: 20px;
  }
}
@media screen and (max-width: 375px) {
  .advantages__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .advantages__title {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 32px;
  }
  .advantages__list-of-advantages {
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: center;
  }
  .advantages__item {
    max-width: 365px;
    margin: 0 auto;
  }
  .advantages__circle {
    margin-bottom: 10px;
  }
  .advantages__img {
    width: 119px;
    height: 119px;
  }
  .advantages__text {
    max-width: 309px;
    font-size: 20px;
  }
}
@media screen and (max-width: 320px) {
  .advantages__title {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
  }
  .advantages__list-of-advantages {
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: center;
  }
  .advantages__item {
    max-width: 310px;
    margin: 0 auto;
  }
  .advantages__circle {
    margin-bottom: 10px;
  }
  .advantages__img {
    width: 109px;
    height: 109px;
  }
  .advantages__text {
    max-width: 309px;
    font-size: 20px;
  }
}
.wrapper {
  overflow: hidden;
  font-family: GothamPro;
}

.container {
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
  border: 1px solid red;
}