@charset "UTF-8";
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProRegular.eot");
  src: local("☺"), url("../fonts/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular.ttf") format("truetype"), url("../fonts/GothamProRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProMedium.eot");
  src: local("☺"), url("../fonts/GothamProMedium.woff") format("woff"), url("../fonts/GothamProMedium.ttf") format("truetype"), url("../fonts/GothamProMedium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProBold.eot");
  src: local("☺"), url("../fonts/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold.ttf") format("truetype"), url("../fonts/GothamProBold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.home {
  background: url(../img/home-background.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home__content {
  padding: 0 10px 0 10px;
}
.home__subtitle {
  font-size: 16px;
}
.home__title {
  margin-top: 38px;
  margin-bottom: 108px;
  font-size: 80px;
  font-weight: bold;
}
.home__button {
  display: flex;
  justify-content: center;
}
.home__link {
  margin: 0 auto;
  display: block;
  color: #fff;
  padding: 24px 80px;
  background-color: #e9b979;
  transition: 0.3s linear;
  border-radius: 22px;
  font-size: 20px;
}
.home__link:hover {
  background-color: #fff;
  color: #e9b979;
}

@media screen and (max-width: 2561px) {
  .home__content {
    padding: 0 10px 0 10px;
  }
  .home__subtitle {
    font-size: 36px;
  }
  .home__title {
    margin-top: 48px;
    margin-bottom: 118px;
    font-size: 100px;
  }
  .home__link {
    margin: 0 auto;
    display: block;
    color: #fff;
    padding: 38px 96px;
    font-size: 34px;
    border-radius: 42px;
  }
}
@media screen and (max-width: 769px) {
  .home__content {
    padding: 0 10px 0 10px;
  }
  .home__subtitle {
    font-size: 16px;
  }
  .home__title {
    margin-top: 28px;
    margin-bottom: 38px;
    font-size: 60px;
  }
  .home__link {
    padding: 18px 74px;
    font-size: 24px;
  }
}
@media screen and (max-width: 426px) {
  .home__content {
    padding: 0 10px 0 10px;
  }
  .home__subtitle {
    font-size: 16px;
  }
  .home__title {
    margin-top: 36px;
    margin-bottom: 44px;
    font-size: 45px;
  }
  .home__link {
    padding: 14px 70px;
    font-size: 24px;
  }
}
@media screen and (max-width: 375px) {
  .home__content {
    padding: 0 10px 0 10px;
  }
  .home__subtitle {
    font-size: 16px;
  }
  .home__title {
    margin-top: 28px;
    margin-bottom: 38px;
    font-size: 40px;
  }
  .home__link {
    padding: 14px 70px;
    font-size: 24px;
  }
}
@media screen and (max-width: 321px) {
  .home__content {
    padding: 0 10px 0 10px;
  }
  .home__subtitle {
    font-size: 16px;
  }
  .home__title {
    margin-top: 24px;
    margin-bottom: 34px;
    font-size: 35px;
  }
  .home__link {
    padding: 10px 40px;
    font-size: 20px;
  }
}
.about {
  color: #fff;
}
.about__content {
  overflow: hidden;
  width: 100%;
  display: flex;
}
.about__left-block {
  background-color: #e9b979;
  height: 803px;
  width: 46.3%;
}
.about__title {
  margin: 0 auto;
  width: 169px;
  color: #fefefe;
  font-size: 46px;
  font-weight: bold;
  letter-spacing: 1.74px;
  text-transform: uppercase;
  padding-bottom: 52px;
}
.about__text {
  padding-bottom: 68px;
  color: #fefefe;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.16px;
}
.about__link {
  color: #fefefe;
  font-size: 17px;
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 0.16px;
}
.about__right-block {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid #000;
  width: 53.7%;
  height: 803px;
  background: url(../img/about.jpg) no-repeat center;
  background-size: cover;
}
.left-block__container {
  padding: 0 10px 0 10px;
  margin-top: 118px;
  margin-right: 140px;
  margin-bottom: 86px;
  margin-left: 240px;
  max-width: 512px;
  max-height: 803px;
  height: 803px;
  border: 1px solid #000;
}

@media screen and (width: 2560px) {
  .about__title {
    font-size: 46px;
    padding-bottom: 52px;
  }
  .about__text {
    padding-bottom: 50px;
    font-size: 20px;
    letter-spacing: 0.16px;
    line-height: 20px;
  }
  .about__link {
    font-size: 20px;
  }

  .left-block__container {
    margin-left: 560px;
    margin-right: 20px;
    max-width: 100%;
    padding-right: 10px;
    height: 703px;
  }
}
@media screen and (max-width: 1441px) {
  .about__title {
    font-size: 46px;
    padding-bottom: 52px;
  }
  .about__text {
    padding-bottom: 50px;
    font-size: 20px;
    letter-spacing: 0.16px;
  }
  .about__link {
    font-size: 20px;
  }

  .left-block__container {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    padding: 0 20px;
    height: 703px;
  }
}
@media screen and (width: 1280px) {
  .about__content {
    margin-left: 0;
    margin-right: 0px;
    max-width: 100%;
    height: 700px;
  }
  .about__left-block {
    margin-left: 0;
    margin-right: 0px;
    max-width: 100%;
    padding-right: 10px;
  }
  .about .left-block__container {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0px;
    max-width: 100%;
    padding-right: 10px;
  }
}
@media screen and (max-width: 1025px) {
  .about__content {
    flex-wrap: wrap-reverse;
  }
  .about__title {
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 36px;
  }
  .about__text {
    font-size: 20px;
    padding-bottom: 25px;
  }
  .about__link {
    font-size: 20px;
  }
  .about__left-block {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .about__right-block {
    width: 100%;
  }

  .left-block__container {
    margin: 100px;
    max-width: 100%;
    padding-right: 10px;
  }
}
@media screen and (max-width: 768px) {
  .about__title {
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 32px;
  }
  .about__text {
    font-size: 18px;
    padding-bottom: 25px;
  }
  .about__link {
    font-size: 18px;
  }
  .about__right-block {
    max-height: 460px;
  }
  .about__left-block {
    max-height: 460px;
  }

  .left-block__container {
    margin: 50px;
    max-width: 100%;
    padding-right: 10px;
  }
}
@media screen and (max-width: 426px) {
  .about__title {
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 24px;
  }
  .about__text {
    font-size: 14px;
    padding-bottom: 25px;
  }
  .about__link {
    font-size: 14px;
  }
  .about__left-block {
    height: 550px;
  }
  .about__right-block {
    height: 300px;
  }

  .left-block__container {
    margin: 0;
    padding: 10px;
    margin: 0px;
    max-width: 100%;
  }
}
@media screen and (max-width: 376px) {
  .about__title {
    font-size: 22px;
    padding-bottom: 10px;
  }
  .about__text {
    font-size: 14px;
    padding-bottom: 10px;
  }
  .about__link {
    font-size: 14px;
  }
  .about__left-block {
    height: 550px;
  }
  .about__right-block {
    height: 300px;
  }

  .left-block__container {
    margin: 0;
    padding: 10px;
    margin: 0px;
    max-width: 100%;
  }
}
@media screen and (max-width: 321px) {
  .about__title {
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .about__text {
    font-size: 13px;
    padding-bottom: 6px;
  }
  .about__link {
    font-size: 12px;
  }
  .about__left-block {
    height: 550px;
  }
  .about__right-block {
    height: 300px;
  }

  .left-block__container {
    margin: 0;
    padding: 10px;
    margin: 0px;
    max-width: 100%;
  }
}
.bestsellers__title {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 30px;
  text-align: center;
}
.bestsellers__link {
  color: #e9b979;
  text-decoration: underline;
  display: block;
  text-align: center;
  padding-bottom: 80px;
  font-size: 17px;
  font-weight: bold;
}

.slider__button {
  color: #e9b979;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.34px;
  border: 3px solid #e9b979;
  border-radius: 16px;
  padding: 5px;
  transition: all 0.3s linear;
}
.slider__button:hover {
  background-color: #e9b979;
  color: #fff;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider {
  position: relative;
  padding: 0 50px;
  margin-bottom: 83px;
}

.slider__item_inner {
  display: flex;
  justify-content: space-between;
  max-width: 375px;
  margin: 0 auto;
}

.inner__block {
  position: relative;
}

.slider__img {
  max-width: 376px;
  max-width: 442px;
}

.slider__title {
  color: #8a8a8a;
  text-decoration: none;
}

.slider__subtitle {
  color: #8a8a8a;
  text-decoration: none;
  position: absolute;
  left: 0;
}

.slider .slick-arrow {
  position: absolute;
  margin: -30px 0 0 0;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 6px;
  height: 10px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  border: 1px solid #999;
  background-color: #fff;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: url("../img/left-arrow.png") 40% no-repeat;
  transition: 0.3s linear;
}
.slider .slick-arrow.slick-prev:hover {
  background-color: #ebebeb;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/right-arrow.png") 60% no-repeat;
  border: 1px solid #999;
  background-color: #fff;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.slider .slick-arrow.slick-next:hover {
  background-color: #ebebeb;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #666;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: #333;
}

.slider__item {
  text-align: center;
  text-decoration: none;
  color: #8a8a8a;
  font-size: 18px;
  font-weight: 400;
  min-height: 500px;
}

.care {
  color: #fff;
}
.care__content {
  display: flex;
  overflow: hidden;
  width: 100%;
  display: flex;
}
.care__left-block {
  width: 100%;
  display: flex;
  justify-content: center;
  width: 53.7%;
  height: 803px;
  background: url(../img/care.jpg) no-repeat center;
  background-size: cover;
}
.care__right-block {
  background-color: #e9b979;
  height: 803px;
  width: 46.3%;
}
.care__title {
  margin: 0 auto;
  max-width: 529px;
  width: 528px;
  color: #fefefe;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1.74px;
  text-transform: uppercase;
  padding-bottom: 52px;
}
.care__text {
  padding-bottom: 68px;
  color: #fefefe;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.16px;
}
.care__link {
  color: #fefefe;
  font-size: 17px;
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 0.16px;
}

.right-block__container {
  padding: 0 10px 0 10px;
  margin-top: 118px;
  margin-right: 240px;
  margin-left: 140px;
  margin-bottom: 86px;
  max-width: 512px;
  max-height: 803px;
  height: 803px;
  border: 1px solid #000;
}

@media screen and (max-width: 426px) {
  .care__title {
    font-size: 25px;
    padding-bottom: 20px;
  }
  .care__text {
    font-size: 16px;
  }
  .care__link {
    font-size: 16px;
  }
  .care__left-block {
    height: 300px;
  }
  .care__right-block {
    height: 400px;
  }

  .right-block__container {
    margin: 0;
    padding: 10px;
    margin: 0px;
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .care__left-block {
    max-height: 460px;
  }
  .care__right-block {
    max-height: 460px;
  }

  .right-block__container {
    margin: 50px;
    max-width: 100%;
    padding-left: 10px;
  }
}
@media screen and (width: 1024px) {
  .right-block__container {
    margin: 100px;
    max-width: 100%;
    padding-left: 10px;
    height: 600px;
  }
}
@media screen and (max-width: 1024px) {
  .care__content {
    flex-wrap: wrap;
  }
  .care__right-block {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .care__left-block {
    width: 100%;
  }
}
@media screen and (width: 1280px) {
  .care__content {
    margin-left: 0;
    margin-right: 0px;
    max-width: 100%;
    height: 700px;
  }
  .care__right-block {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    padding-left: 10px;
  }
  .care .right-block__container {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0px;
    max-width: 100%;
    padding-left: 10px;
  }
}
@media screen and (width: 1440px) {
  .right-block__container {
    margin-right: 0;
    margin-left: 40px;
    max-width: 100%;
    padding-right: 10px;
    height: 703px;
  }
}
@media screen and (width: 2560px) {
  .right-block__container {
    margin-right: 560px;
    margin-left: 20px;
    max-width: 100%;
    padding-left: 10px;
    height: 703px;
  }
}
.advantages__content {
  max-height: 640px;
}
.advantages__title {
  margin-bottom: 110px;
  margin-top: 194px;
  text-align: center;
  color: #282828;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1.36px;
}
.advantages__list-of-advantages {
  margin-bottom: 239px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.advantages__item {
  max-width: 339px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
}
.advantages__circle {
  margin-bottom: 50px;
}
.advantages__img {
  margin: 0 auto;
  width: 139px;
  height: 139px;
}
.advantages__text {
  letter-spacing: 0.24px;
  font-weight: 500;
  color: #282828;
  font-size: 24px;
}

@media screen and (max-width: 769px) {
  .advantages__title {
    margin-bottom: 70px;
    margin-top: 100px;
    text-align: center;
    color: #282828;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.36px;
  }
  .advantages__list-of-advantages {
    margin-bottom: 100px;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  .advantages__item {
    max-width: 309px;
  }
  .advantages__circle {
    margin-bottom: 20px;
  }
  .advantages__img {
    width: 109px;
    height: 109px;
  }
  .advantages__text {
    font-size: 20px;
    letter-spacing: 0.2px;
  }
}
@media screen and (max-width: 426px) {
  .advantages__title {
    margin-bottom: 40px;
    margin-top: 90px;
    text-align: center;
    color: #282828;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.36px;
  }
  .advantages__list-of-advantages {
    margin-bottom: 90px;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  .advantages__item {
    max-width: 259px;
  }
  .advantages__circle {
    margin-bottom: 10px;
  }
  .advantages__img {
    width: 79px;
    height: 79px;
  }
  .advantages__text {
    font-size: 14px;
    letter-spacing: 0.16px;
  }
}
.gallery__content {
  height: 684px;
  display: flex;
  flex-wrap: wrap;
}
.gallery__left-block {
  padding-top: 250px;
  min-width: 500px;
  border: 1px solid red;
  text-align: center;
}
.gallery__title {
  color: #282828;
  font-size: 40px;
  font-weight: bold;
  line-height: 61.8px;
  /* Text style for "Галерея" */
  letter-spacing: 1.51px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.gallery__link {
  color: #b9b9b9;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.16px;
  display: block;
  text-decoration: underline;
}
.gallery__right-block {
  margin-top: 124px;
  display: flex;
  justify-content: center;
  width: 930px;
  border: 1px solid blue;
}
.gallery__block1 {
  border: 1px solid green;
  margin-right: 14px;
  max-width: 554px;
  max-height: 435px;
}
.gallery__block2 {
  max-width: 358px;
}
.block1__img1 {
  max-width: 555px;
}
.block2__img1 {
  margin-bottom: 14px;
}
.footer {
  margin-top: auto;
  width: 100%;
  background-color: #e9b979;
  font-weight: bold;
}
.footer__content {
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__left-block {
  margin-top: 80px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  max-width: 260px;
}
.footer__address {
  margin-bottom: 20px;
}
.footer__center-block {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 260px;
}
.footer__title {
  margin-bottom: 10px;
}
.footer__right-block {
  position: relative;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  width: 260px;
}
.footer__tel-num {
  position: absolute;
  right: 0;
  text-align: center;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
}
.footer__list-of-soc-net {
  position: absolute;
  right: 0;
  top: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 48px;
  border: 1px solid #000;
  width: 80px;
  display: flex;
  justify-content: space-between;
}
.tel-num__title {
  margin-left: 45px;
  margin-bottom: 13px;
}
.tel-num__tel-num1 {
  margin-bottom: 5px;
}
.footer-logo__img {
  margin-bottom: 10px;
  width: 59px;
  height: 37px;
}

.whatsapp__img {
  display: block;
  height: 15px;
  width: 15px;
}

.telegram__img {
  display: block;
  width: 19px;
  height: 15px;
}

.viber__img {
  display: block;
  width: 14px;
  height: 15px;
}

.wrapper {
  overflow: hidden;
  font-family: GothamPro;
}

.container {
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
  border: 1px solid red;
}