.about
    .about__content
        .about__left-block
            .left-block__container
                h2.about__title О нас
                p.about__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure facere, fugit saepe atque nulla nam rem voluptatum qui deserunt assumenda eius ut accusantium error eum sapiente? Odit recusandae odio ipsam excepturi nemo vel, alias totam! Quas dolorum fugiat, doloremque explicabo quis amet corporis quibusdam obcaecati quisquam autem repudiandae placeat. Ullam autem omnis dignissimos blanditiis, est quod maxime soluta, ex reiciendis a voluptate dolorum fugit neque illo? Sapiente cumque, aut labore quasi dignissimos sunt aliquid, ut reiciendis ratione libero dolorem, quas quis molestiae ex vitae officiis fugiat pariatur nobis? Cum sequi voluptate repellat harum quidem nisi veritatis modi saepe totam at!
                .about__button
                    a.about__link(href="#") Перейти в галерею >
        .about__right-block
            //- img.about__img(src="./img/about.jpg", alt="")
