.about
    .about__content
        .about__left-block
            .left-block__container
                h2.about__title О нас
                p.about__text Мы — компания с многолетним опытом, которая  в течение почти десятка лет занимается производством  пиломатериалов и изделий из них. О дереве мы знаем все! И готовы делиться своим опытом с вами. Наши консультанты всегда окажут квалифицированную помощь при выборе товаров с учетом индивидуальных требований Заказчика. Покупая продукцию у “ДобрушДрев” вы одновременно приобретаете уверенность в высоком качестве, безопасности и долговечности изделий. При производстве используется только лучшая древесина из экологически чистых районов Беларуси. Процесс изготовления производится с применением высокотехнологичного оборудования, которое позволяет получать пиломатериал, соответствующий всем существующим европейским стандартам. А благодаря неоднократной обработке профильных лицевых изделий, они приобретают отменный внешний вид, способный удивить даже самого требовательного клиента.  
                .about__button
                    a.about__link(href="#") Перейти в галерею >
        .about__right-block
            //- img.about__img(src="./img/about.jpg", alt="")
