.advantages
    .container
        .advantages__content
            .advantages__title НАШИ ПРИЕМУЩЕСТВА
            .advantages__list-of-advantages 
                .advantages__item
                    .advantages__circle
                        img.advantages__img(src="./img/left.png", alt="")
                    .advantages__text Расширеная гарантия на всю продукцию
                .advantages__item
                    .advantages__circle
                        img.advantages__img(src="./img/center.png", alt="")
                    .advantages__text Эксклюзивность и индивидульный подход к каждому клиенту
                .advantages__item
                    .advantages__circle
                        img.advantages__img(src="./img/right.png", alt="")
                    .advantages__text Доступность мебели и высокое качество сервиса
