.bestsellers
    .container
        .bestsellers__content
            .bestsellers__title БЕСТСЕЛЛЕРЫ
            .slider
                .slider__item
                    a(href="")
                        img.slider__img(src="./img/lining.jpg", alt="")
                    .slider__item_inner
                        .inner__block
                            h2.slider__title Вагонка (сосна, ель)
                            h2.slider__subtitle 14x88 см
                        .inner__block
                            a.slider__button(href="") В корзину

                .slider__item
                    a(href="")
                        img.slider__img(src="./img/lining.jpg", alt="")
                    .slider__item_inner
                        .inner__block
                            h2.slider__title Вагонка (сосна, ель)
                            h2.slider__subtitle 14x88 см
                        .inner__block
                            a.slider__button(href="") В корзину

                .slider__item
                    a(href="")
                        img.slider__img(src="./img/lining.jpg", alt="")
                    .slider__item_inner
                        .inner__block
                            h2.slider__title Вагонка (сосна, ель)
                            h2.slider__subtitle 14x88 см
                        .inner__block
                            a.slider__button(href="") В корзину

                .slider__item
                    a(href="")
                        img.slider__img(src="./img/lining.jpg", alt="")
                    .slider__item_inner
                        .inner__block
                            h2.slider__title Вагонка (сосна, ель)
                            h2.slider__subtitle 14x88 см
                        .inner__block
                            a.slider__button(href="") В корзину

                .slider__item
                    a(href="")
                        img.slider__img(src="./img/lining.jpg", alt="")
                    .slider__item_inner
                        .inner__block
                            h2.slider__title Вагонка (сосна, ель)
                            h2.slider__subtitle 14x88 см
                        .inner__block
                            a.slider__button(href="") В корзину
                .slider__item
                    a(href="")
                        img.slider__img(src="./img/lining.jpg", alt="")
                    .slider__item_inner
                        .inner__block
                            h2.slider__title Вагонка (сосна, ель)
                            h2.slider__subtitle 14x88 см
                        .inner__block
                            a.slider__button(href="") В корзину

            .bestsellers__button
                a.bestsellers__link(href="") Перейти в каталог >
script(src="./js/slider.js")