.care
    .care__content
        .care__left-block
            //- img.care__img(src="./img/care.jpg", alt="")
        .care__right-block
            .right-block__container
                h2.care__title ЗАБОТИМСЯ О ВАС
                p.care__text Мы используем только проверенные и нетоксичные расходные материалы и смолы, контролируем производство. Мебель, произведенная нашей компанией отличается надежностью, длительным сроком эксплуатации и изящным внешним видом. Теперь желающим заметно преобразить свое жилище не придется платить баснословные суммы за изделия от зарекомендовавших себя мировых брендов, ведь мы сделали премиальную мебель доступной. Благодаря сдержанной роскоши дизайнерского стиля выпускаемая мебель прекрасно вписываются в различные типы интерьеров. Элитные диваны, стулья и кресла дополнят слегка вычурный, но, в то же время, элегантный шебби-шик, станут акцентом при исполнении современных интерьерных решений, подчеркнут роскошь жилища в стиле ампир, придадут эксклюзивности романтичному французскому «Провансу»
                .care__button
                    a.care__link(href="#") Подробнее >