.care
    .care__content
        .care__left-block
            img.care__img(src="./img/care.jpg", alt="")
        .care__right-block
            .care__title ЗАБОТИМСЯ О ВАС
            .care__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ex omnis recusandae. Voluptatem esse amet eaque suscipit itaque dolorem quasi aut? Dolor magni sint, obcaecati alias magnam pariatur officia, sapiente odio deleniti dolorum necessitatibus rerum blanditiis animi, reprehenderit voluptate natus voluptatibus impedit! In repellat possimus perferendis ducimus ea autem quae recusandae fugit temporibus? Ipsam maxime quam nihil saepe, sapiente culpa temporibus consectetur repudiandae expedita eaque corrupti quibusdam perferendis unde, illo officiis rerum ipsum nemo reprehenderit enim sed iusto assumenda! Hic, pariatur laborum autem, dolores animi ex molestias non ad eos nobis quos aliquam sed laboriosam, rerum quam? Provident, deserunt quas.
            .care__button
                a.care__link(href="") Подробнее >
