footer.footer
    .container
        .footer__content
            .footer__left-block
                .footer__address г. Гомель, ул. Добрушская 29В<br/>246009
                .footer__operating-mode РЕЖИМ РАБОТЫ:<br/>С 8 до 20, без выходных
            .footer__center-block
                .footer__logo
                    img.footer-logo__img(src="./img/logo.png", alt="")
                    .footer__title ООО "ДОБРУШДРЕВ"
                    .footer__subtitle УНП 490786153
            .footer__right-block
                .footer__tel-num
                    .tel-num__title Телефон:
                    .tel-num__tel-num1 +375 29 8498281 
                    .tel-num__tel-num2 +375 44 5579257
                .footer__list-of-soc-net
                    a.footer__whatsapp(href="")
                        img.whatsapp__img(src="./img/ico/whatsapp.svg", alt="")
                    a.footer__telegram(href="")
                        img.telegram__img(src="./img/ico/telegram.svg", alt="")
                    a.footer__viber(href="")
                        img.viber__img(src="./img/ico/viber.svg", alt="")