.row
    .col2.gallery
        .gallery__list
            h2.gallery__title Галерея
            button.gallery__open.btn Смотреть все &gt;
    .col2.slider1
        .slider1__item1
            .item1__left-block
                img.slider1__img1(src="./img/gallery1.jpg" alt="")
            .item1__right-block
                img.slider1__img2(src="./img/gallery2.jpg" alt="")
                img.slider1__img3(src="./img/gallery3.jpg" alt="")
        .slider1__item1
            .item1__left-block
                img.slider1__img1(src="./img/gallery1.jpg" alt="")
            .item1__right-block
                img.slider1__img2(src="./img/gallery2.jpg" alt="")
                img.slider1__img3(src="./img/gallery3.jpg" alt="")
        .slider1__item1
            .item1__left-block
                img.slider1__img1(src="./img/gallery1.jpg" alt="")
            .item1__right-block
                img.slider1__img2(src="./img/gallery2.jpg" alt="")
                img.slider1__img3(src="./img/gallery3.jpg" alt="")
        .slider1__item1
            .item1__left-block
                img.slider1__img1(src="./img/gallery1.jpg" alt="")
            .item1__right-block
                img.slider1__img2(src="./img/gallery2.jpg" alt="")
                img.slider1__img3(src="./img/gallery3.jpg" alt="")