.gallery
    .container
        .gallery__content
                .gallery__left-block
                    .gallery__title Галерея
                    //- .gallery__subtitle  
                    a.gallery__link(href="") Смотреть все > 
                .gallery__right-block
                    .gallery__block1
                        img.block1__img1(src="./img/gallery1.jpg", alt="")
                        //- img.block1__img2(src="./img/gallery2.jpg", alt="")
                        //- img.block1__img3(src="./img/gallery3.jpg", alt="")
                    .gallery__block2
                        img.block2__img1(src="./img/gallery2.jpg", alt="")
                        img.block2__img2(src="./img/gallery3.jpg", alt="")