.row
    .col2.gallery
        .gallery__list
            h2.gallery__title Галерея
            button.gallery__open.btn Смотреть все &gt;
    .col2.slider
        .slider__item
            .item__left-block
                img.slider__img1(src="./img/gallery1.jpg" alt="")
            .item__right-block
                img.slider__img2(src="./img/gallery2.jpg" alt="")
                img.slider__img3(src="./img/gallery3.jpg" alt="")
        .slider__item
            .item__left-block
                img.slider__img1(src="./img/gallery1.jpg" alt="")
            .item__right-block
                img.slider__img2(src="./img/gallery2.jpg" alt="")
                img.slider__img3(src="./img/gallery3.jpg" alt="")
        .slider__item
            .item__left-block
                img.slider__img1(src="./img/gallery1.jpg" alt="")
            .item__right-block
                img.slider__img2(src="./img/gallery2.jpg" alt="")
                img.slider__img3(src="./img/gallery3.jpg" alt="")
        .slider__item
            .item__left-block
                img.slider__img1(src="./img/gallery1.jpg" alt="")
            .item__right-block
                img.slider__img2(src="./img/gallery2.jpg" alt="")
                img.slider__img3(src="./img/gallery3.jpg" alt="")
script(src="./js/gallery.js")