header.header
    .container
        .header__content    
            .header__inner
                nav.header__menu
                    a.menu__item(href="#") О нас
                    a.menu__item(href="#") Каталог
                    a.menu__item(href="#") Услуги
                    a.menu__item(href="#") Вопрос-ответ
                .header__logo
                    img.logo__img(src="./img/logo.png", alt="")
                    h2.logo__title Добруш Древ
                nav.header__menu.left-menu
                    a.menu__item(href="#") Новости
                    a.menu__item(href="#") Мебель по помещениям
                    a.menu__item(href="#") Доставка
                    a.menu__item(href="#") Контакты
                    <br/>
                    .header__icons
                        .header__search 
                            a.search__link(href="")
                                input.search__form(type="search", name="")
                                img.search__img(src="./img/ico/search.svg", alt="Search")
                        .header__basket 
                            a.basket__link(href="")
                                img.basket__img(src="./img/ico/basket.svg", alt="")
                                
                    