.home
    .container
        .home__content
            .home__subtitle мебель из натурального дерева
            .home__title ДОБРУШ ДРЕВ
            .home__button
                a.home__link(href="#") Подробнее