@charset "UTF-8";
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProRegular.eot");
  src: local("☺"), url("../fonts/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular.ttf") format("truetype"), url("../fonts/GothamProRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProMedium.eot");
  src: local("☺"), url("../fonts/GothamProMedium.woff") format("woff"), url("../fonts/GothamProMedium.ttf") format("truetype"), url("../fonts/GothamProMedium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProBold.eot");
  src: local("☺"), url("../fonts/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold.ttf") format("truetype"), url("../fonts/GothamProBold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.news-block1 {
  color: #fff;
  margin-bottom: 50px;
}
.news-block1__content {
  overflow: hidden;
  width: 100%;
  display: flex;
}
.news-block1__block1 {
  overflow: hidden;
  width: 100%;
  display: flex;
}

.news-block1__left-block {
  position: relative;
  background-color: #e9b979;
  height: 586px;
  width: 46.3%;
}
.news-block1__title {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1.74px;
  text-transform: uppercase;
  padding-bottom: 52px;
}
.news-block1__text {
  padding-bottom: 68px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.16px;
}
.news-block1__link {
  color: #fefefe;
  font-size: 17px;
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 0.16px;
}
.news-block1__right-block {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid #000;
  width: 53.7%;
  height: 586px;
  background: url(../img/block1.jpg) no-repeat center;
  background-size: cover;
}
.left-block__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px 0 10px;
  position: absolute;
  right: 49px;
  margin-bottom: 86px;
  width: 600px;
  max-height: 803px;
  height: 586px;
  border: 1px solid #000;
}

@media screen and (min-width: 2559px) {
  .news-block1__title {
    font-size: 46px;
    padding-bottom: 52px;
  }
  .news-block1__text {
    padding-bottom: 50px;
    font-size: 20px;
    letter-spacing: 0.16px;
    line-height: 20px;
  }
  .news-block1__link {
    font-size: 20px;
  }

  .left-block__container {
    max-width: 100%;
    height: 100%;
    right: 10px;
  }
}
@media screen and (max-width: 1441px) {
  .news-block1__title {
    font-size: 46px;
    padding-bottom: 52px;
  }
  .news-block1__text {
    padding-bottom: 50px;
    font-size: 20px;
    letter-spacing: 0.16px;
  }
  .news-block1__link {
    font-size: 20px;
  }

  .left-block__container {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    padding: 0 20px;
    height: 100%;
  }
}
@media screen and (width: 1280px) {
  .news-block1__content {
    margin-left: 0;
    margin-right: 0px;
    max-width: 100%;
    height: 700px;
  }
  .news-block1__left-block {
    margin-left: 0;
    margin-right: 0px;
    max-width: 100%;
    padding-right: 10px;
  }
  .news-block1 .left-block__container {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0px;
    max-width: 100%;
    padding-right: 10px;
  }
}
@media screen and (max-width: 1025px) {
  .news-block1__content {
    flex-wrap: wrap-reverse;
  }
  .news-block1__title {
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: 40px;
  }
  .news-block1__text {
    font-size: 26px;
    padding-bottom: 30px;
  }
  .news-block1__link {
    font-size: 26px;
  }
  .news-block1__left-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100vh;
  }
  .news-block1__right-block {
    width: 100%;
    height: 100vh;
  }

  .left-block__container {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    right: 0;
  }
}
@media screen and (max-width: 769px) {
  .news-block1__title {
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 16px;
    font-size: 36px;
  }
  .news-block1__text {
    font-size: 22px;
    padding-bottom: 30px;
  }
  .news-block1__link {
    font-size: 22px;
  }
  .news-block1__right-block {
    width: 100%;
    height: 768px;
  }
}
@media screen and (max-width: 426px) {
  .news-block1__title {
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 16px;
    font-size: 30px;
  }
  .news-block1__text {
    font-size: 16px;
    padding-bottom: 20px;
  }
  .news-block1__link {
    font-size: 16px;
  }
  .news-block1__right-block {
    width: 100%;
    height: 526px;
  }
}
@media screen and (max-width: 376px) {
  .news-block1__title {
    font-size: 22px;
    padding-bottom: 10px;
  }
  .news-block1__text {
    font-size: 15px;
    padding-bottom: 10px;
  }
  .news-block1__link {
    font-size: 16px;
  }
  .news-block1__right-block {
    width: 100%;
    height: 476px;
  }

  .left-block__container {
    margin: 0;
    padding: 10px;
    margin: 0px;
    max-width: 100%;
  }
}
@media screen and (max-width: 321px) {
  .news-block1__title {
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .news-block1__text {
    font-size: 14px;
    padding-bottom: 6px;
  }
  .news-block1__link {
    font-size: 14px;
  }
  .news-block1__right-block {
    width: 100%;
    height: 420px;
  }

  .left-block__container {
    margin: 0;
    padding: 10px;
    margin: 0px;
    max-width: 100%;
  }
}
.news-block2 {
  color: #fff;
  margin-bottom: 50px;
}
.news-block2__content {
  display: flex;
  overflow: hidden;
  width: 100%;
  display: flex;
}

.news-block2__left-block {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid #000;
  width: 53.7%;
  height: 586px;
  background: url(../img/block2.jpg) no-repeat center;
  background-size: cover;
}
.news-block2__right-block {
  position: relative;
  background-color: #e9b979;
  height: 586px;
  width: 46.3%;
}
.news-block2__title {
  margin: 0 auto;
  color: #fefefe;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1.74px;
  text-transform: uppercase;
  padding-bottom: 52px;
}
.news-block2__text {
  padding-bottom: 68px;
  color: #fefefe;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.16px;
}
.news-block2__link {
  color: #fefefe;
  font-size: 17px;
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 0.16px;
}

.right-block__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px 0 10px;
  position: absolute;
  left: 49px;
  margin-bottom: 86px;
  width: 600px;
  max-height: 803px;
  height: 586px;
  border: 1px solid #000;
}

@media screen and (min-width: 2559px) {
  .news-block2__title {
    font-size: 46px;
    padding-bottom: 52px;
  }
  .news-block2__text {
    padding-bottom: 50px;
    font-size: 20px;
    letter-spacing: 0.16px;
    line-height: 20px;
  }
  .news-block2__link {
    font-size: 20px;
  }

  .right-block__container {
    max-width: 100%;
    height: 100%;
    left: 10px;
  }
}
@media screen and (max-width: 1441px) {
  .news-block2__title {
    font-size: 46px;
    padding-bottom: 52px;
  }
  .news-block2__text {
    padding-bottom: 50px;
    font-size: 20px;
    letter-spacing: 0.16px;
  }
  .news-block2__link {
    font-size: 20px;
  }

  .right-block__container {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    padding: 0 20px;
    height: 100%;
  }
}
@media screen and (width: 1280px) {
  .news-block2__content {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    height: 700px;
  }
  .news-block2__right-block {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    padding-left: 10px;
  }
  .news-block2 .right-block__container {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    padding-left: 10px;
  }
}
@media screen and (max-width: 1025px) {
  .news-block2__content {
    flex-wrap: wrap;
  }
  .news-block2__title {
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: 40px;
  }
  .news-block2__text {
    font-size: 26px;
    padding-bottom: 30px;
  }
  .news-block2__link {
    font-size: 26px;
  }
  .news-block2__right-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100vh;
  }
  .news-block2__left-block {
    width: 100%;
    height: 100vh;
  }

  .right-block__container {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 0;
  }
}
@media screen and (max-width: 769px) {
  .news-block2__title {
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 16px;
    font-size: 36px;
  }
  .news-block2__text {
    font-size: 22px;
    padding-bottom: 30px;
  }
  .news-block2__link {
    font-size: 22px;
  }
  .news-block2__left-block {
    width: 100%;
    height: 768px;
  }
}
@media screen and (max-width: 426px) {
  .news-block2__title {
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 16px;
    font-size: 30px;
  }
  .news-block2__text {
    font-size: 16px;
    padding-bottom: 20px;
  }
  .news-block2__link {
    font-size: 16px;
  }
  .news-block2__left-block {
    width: 100%;
    height: 526px;
  }
}
@media screen and (max-width: 376px) {
  .news-block2__title {
    font-size: 22px;
    padding-bottom: 10px;
  }
  .news-block2__text {
    font-size: 15px;
    padding-bottom: 10px;
  }
  .news-block2__link {
    font-size: 16px;
  }
  .news-block2__left-block {
    width: 100%;
    height: 476px;
  }

  .right-block__container {
    margin: 0;
    padding: 10px;
    margin: 0px;
    max-width: 100%;
  }
}
@media screen and (max-width: 321px) {
  .news-block2__title {
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .news-block2__text {
    font-size: 14px;
    padding-bottom: 6px;
  }
  .news-block2__link {
    font-size: 14px;
  }
  .news-block2__left-block {
    width: 100%;
    height: 420px;
  }

  .right-block__container {
    margin: 0;
    padding: 10px;
    margin: 0px;
    max-width: 100%;
  }
}
.news-block3 {
  color: #fff;
  margin-bottom: 215px;
}
.news-block3__content {
  overflow: hidden;
  width: 100%;
  display: flex;
}

.news-block3__left-block {
  position: relative;
  background-color: #e9b979;
  height: 586px;
  width: 46.3%;
}
.news-block3__title {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1.74px;
  text-transform: uppercase;
  padding-bottom: 52px;
}
.news-block3__text {
  padding-bottom: 68px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.16px;
}
.news-block3__link {
  color: #fefefe;
  font-size: 17px;
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 0.16px;
}
.news-block3__right-block {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid #000;
  width: 53.7%;
  height: 586px;
  background: url(../img/block3.jpg) no-repeat center;
  background-size: cover;
}
.left-block__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px 0 10px;
  position: absolute;
  right: 49px;
  margin-bottom: 86px;
  width: 600px;
  max-height: 803px;
  height: 586px;
  border: 1px solid #000;
}

@media screen and (min-width: 2559px) {
  .news-block3__title {
    font-size: 46px;
    padding-bottom: 52px;
  }
  .news-block3__text {
    padding-bottom: 50px;
    font-size: 20px;
    letter-spacing: 0.16px;
    line-height: 20px;
  }
  .news-block3__link {
    font-size: 20px;
  }

  .left-block__container {
    max-width: 100%;
    height: 100%;
    right: 10px;
  }
}
@media screen and (max-width: 1441px) {
  .news-block3__title {
    font-size: 46px;
    padding-bottom: 52px;
  }
  .news-block3__text {
    padding-bottom: 50px;
    font-size: 20px;
    letter-spacing: 0.16px;
  }
  .news-block3__link {
    font-size: 20px;
  }

  .left-block__container {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    padding: 0 20px;
    height: 100%;
  }
}
@media screen and (width: 1280px) {
  .news-block3__content {
    margin-left: 0;
    margin-right: 0px;
    max-width: 100%;
    height: 700px;
  }
  .news-block3__left-block {
    margin-left: 0;
    margin-right: 0px;
    max-width: 100%;
    padding-right: 10px;
  }
  .news-block3 .left-block__container {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0px;
    max-width: 100%;
    padding-right: 10px;
  }
}
@media screen and (max-width: 1025px) {
  .news-block3__content {
    flex-wrap: wrap-reverse;
  }
  .news-block3__title {
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: 40px;
  }
  .news-block3__text {
    font-size: 26px;
    padding-bottom: 30px;
  }
  .news-block3__link {
    font-size: 26px;
  }
  .news-block3__left-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100vh;
  }
  .news-block3__right-block {
    width: 100%;
    height: 100vh;
  }

  .left-block__container {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    right: 0;
  }
}
@media screen and (max-width: 769px) {
  .news-block3__title {
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 16px;
    font-size: 36px;
  }
  .news-block3__text {
    font-size: 22px;
    padding-bottom: 30px;
  }
  .news-block3__link {
    font-size: 22px;
  }
  .news-block3__right-block {
    width: 100%;
    height: 768px;
  }
}
@media screen and (max-width: 426px) {
  .news-block3__title {
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 16px;
    font-size: 30px;
  }
  .news-block3__text {
    font-size: 16px;
    padding-bottom: 20px;
  }
  .news-block3__link {
    font-size: 16px;
  }
  .news-block3__right-block {
    width: 100%;
    height: 526px;
  }
}
@media screen and (max-width: 376px) {
  .news-block3__title {
    font-size: 22px;
    padding-bottom: 10px;
  }
  .news-block3__text {
    font-size: 15px;
    padding-bottom: 10px;
  }
  .news-block3__link {
    font-size: 16px;
  }
  .news-block3__right-block {
    width: 100%;
    height: 476px;
  }

  .left-block__container {
    margin: 0;
    padding: 10px;
    margin: 0px;
    max-width: 100%;
  }
}
@media screen and (max-width: 321px) {
  .news-block3__title {
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .news-block3__text {
    font-size: 14px;
    padding-bottom: 6px;
  }
  .news-block3__link {
    font-size: 14px;
  }
  .news-block3__right-block {
    width: 100%;
    height: 420px;
  }

  .left-block__container {
    margin: 0;
    padding: 10px;
    margin: 0px;
    max-width: 100%;
  }
}
.wrapper {
  overflow: hidden;
  font-family: GothamPro;
}

.container {
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  padding-top: 200px;
  text-align: center;
  padding-bottom: 56px;
  color: #282828;
  font-size: 36px;
  font-weight: bold;
  line-height: 61.8px;
  letter-spacing: 1.36px;
  text-transform: uppercase;
}

@media screen and (min-width: 2559px) {
  .title {
    padding-top: 200px;
    padding-bottom: 56px;
    font-size: 46px;
  }
}
@media screen and (max-width: 1440px) {
  .title {
    padding-top: 200px;
    padding-bottom: 54px;
    font-size: 34px;
  }
}
@media screen and (max-width: 1024px) {
  .title {
    padding-top: 200px;
    padding-bottom: 40px;
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .title {
    padding-top: 200px;
    padding-bottom: 30px;
    font-size: 36px;
  }
}
@media screen and (max-width: 425px) {
  .title {
    padding-top: 200px;
    padding-bottom: 20px;
    font-size: 30px;
  }
}
@media screen and (max-width: 375px) {
  .title {
    padding-top: 200px;
    padding-bottom: 15px;
    font-size: 22px;
  }
}
@media screen and (max-width: 320px) {
  .title {
    padding-top: 200px;
    padding-bottom: 10px;
    font-size: 20px;
  }
}