.services {
	&__content {}
	&__title {
		text-align: center;
		margin-bottom: 202px;
		color: #282828;
		font-size: 36px;
		font-weight: 700;
		letter-spacing: 1.36px;
	}
	&__text {
		text-align: center;
		color: #e9b979;
		font-size: 27px;
		font-weight: 700;
	}
	&__services-list {}
}
.services-list {
	&__left-button {}
	&__left-link {}
	&__item {}
	&__img {}
	&__title {}
	&__button {}
	&__link {}
	&__right-button {}
	&__right-link {}
}
