.services {
	&__content {
		// padding: 5px;
	}
	&__title {
		text-align: center;
		margin-bottom: 202px;
		color: #282828;
		font-size: 36px;
		font-weight: 700;
		letter-spacing: 1.36px;
	}
	&__text {
		text-align: center;
		display: block;
		margin: 0 auto;
		max-width: 1340px;
		color: #e9b979;
		font-size: 27px;
		font-weight: 700;
		margin-bottom: 136px;
	}
}
.slider {
	&__button {
		
		width: 124px;
		height: 33px;
		color: #e9b979;
		margin: 0 auto;
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 1.34px;
		border: 3px solid #e9b979;
		border-radius: 16px;
		padding: 5px;
		transition: all .3s linear;
		margin-top: 24px;
		&:hover {
			background-color: #e9b979;
			color: #fff;
		}
	}
}
.slick-list {
    overflow: hidden
}
.slick-track{
    display: flex;
    align-items: flex-start;
}
.slider {
    position: relative;
	padding: 0 50px;
	margin-bottom: 83px;
}
.slider__item_inner {
	// text-align: center;
	display: flex;
	flex-direction: column;
	// justify-content: space-between;
	max-width: 375px;
	margin: 0 auto;
}
.inner {
	&__block {}
}
.slider__img {
	max-width: 376px;
	max-width: 442px;
	margin-bottom: 42px;
}
.slider__title {
	color: #282828;
	font-size: 20px;
	font-weight: 700;
}
.slider__subtitle {
	color: #282828;
	font-size: 20px;
	font-weight: 700;
	
}

.slider {
    .slick-arrow {
        position: absolute;
        margin: -30px 0 0 0;
        top: 50%;
        z-index: 10;
        font-size: 0;
        width: 6px;
        height: 10px;
    }
}
.slider {
    .slick-arrow.slick-prev {
        left: 0;
        border: 1px solid #999;  
        background-color: #fff;      
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background: url('../img/left-arrow.png') 40% no-repeat;
        transition: .3s linear;
        &:hover {
            background-color: #ebebeb;
        }
    }
}
.slider {
    .slick-arrow.slick-next {
        right: 0;
        background: url('../img/right-arrow.png') 60% no-repeat;
        border: 1px solid #999;  
        background-color: #fff;      
        width: 34px;
        height: 34px;
        border-radius: 50%;
        &:hover {
            background-color: #ebebeb;
        }
    }
}
   
.slider {
    .slick-dots{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.slider {
    .slick-dots li{
        list-style: none;
        margin: 0 10px;
    }
}
.slider {
    .slick-dots button{
        font-size: 0;
        width: 10px;
        height: 10px;
        background-color: #666;
        border-radius: 50%;
    }
}

.slider {
    .slick-dots {
        li.slick-active {
            button {
                background-color: #333;
            }
        }
    }
}
.slider__item {
    text-align: center;
    text-decoration: none;
    color: #8a8a8a;
    font-size: 18px;
	font-weight: 400;
	min-height: 590px;
}

@media screen and (min-width: 2559px) {}
@media screen and (max-width: 1440px) {
    .services {
        &__content {}
        &__title {
            margin-bottom: 82px;
        }
    }
}
@media screen and (max-width: 1024px) {
    .services {
        &__content {}
        &__title {
            margin-bottom: 82px;
            font-size: 32px;
        }
        &__text {
            max-width: 1000px;
            font-size: 24px;
            margin-bottom: 106px;
        }
    }
}
@media screen and (max-width: 768px) {
    .services {
        &__content {}
        &__title {
            margin-bottom: 52px;
            font-size: 28px;
        }
        &__text {
            max-width: 750px;
            font-size: 20px;
            margin-bottom: 86px;
        }
    }
}
@media screen and (max-width: 425px) {
    .services {
        &__content {}
        &__title {
            margin-bottom: 32px;
            font-size: 28px;
        }
        &__text {
            max-width: 420px;
            font-size: 18px;
            margin-bottom: 66px;
        }
    }
}
@media screen and (max-width: 375px) {
    .services {
        &__content {}
        &__title {
            margin-bottom: 22px;
            font-size: 26px;
        }
        &__text {
            max-width: 360px;
            font-size: 16px;
            margin-bottom: 56px;
        }
    }
}
@media screen and (max-width: 320px) {
    .services {
        &__content {}
        &__title {
            margin-bottom: 22px;
            font-size: 26px;
        }
        &__text {
            max-width: 315px;
            font-size: 14px;
            margin-bottom: 56px;
        }
    }
}