.services
    .container
        .services__content
            h2.services__title УСЛУГИ
            p.services__text ООО “Добрушдрев” оказывает услуги по распилу древесины, ее доставке и предварительной сушке. Доставка осуществляется собственным лесовозом-вездеходом, отличающимся высокой проходимостью даже в самых, казалось бы, безнадежных случаях. Сушка дерева производится при помощи двух первоклассных итальянских сушек высокой мощности.
            //- .services__slider
            //-     a.slider__left-button(href="")
            //-     a.slider__block(href="")
            //-         img.slider__img(src="", alt="")
            //-         h2.slider__title Доставка пиломатериалов (Гомель и обл.)
            //-         .slider__button
            //-             a.slider__link(href="") Подробнее
            //-     a.slider__block(href="")
            //-         img.slider__img(src="", alt="")
            //-         h2.slider__title Доставка пиломатериалов (вся Беларусь)
            //-         .slider__button
            //-             a.slider__link(href="") Подробнее
            //-     a.slider__block(href="")
            //-         img.slider__img(src="", alt="")
            //-         h2.slider__title Камерная сушка дерева лесной породы
            //-         .slider__button
            //-             a.slider__link(href="") Подробнее
            //-     a.slider__right-button(href="") 
            //- .services__button
            //-     a.services__link(href="") Подробнее