.services
    .container
        .services__content
            .services__title УСЛУГИ
            .services__text 
            .services__slider
                a.slider__left-button(href="")
                a.slider__block(href="")
                    img.slider__img(src="", alt="")
                    .slider__title Доставка пиломатериалов (Гомель и обл.)
                    .slider__button
                        a.slider__link(href="") Подробнее
                a.slider__block(href="")
                    img.slider__img(src="", alt="")
                    .slider__title Доставка пиломатериалов (вся Беларусь)
                    .slider__button
                        a.slider__link(href="") Подробнее
                a.slider__block(href="")
                    img.slider__img(src="", alt="")
                    .slider__title Камерная сушка дерева лесной породы
                    .slider__button
                        a.slider__link(href="") Подробнее
                a.slider__right-button(href="") 
            .services__button
                a.services__link(href="") Подробнее