.services
    .container
        .services__content
            h2.services__title УСЛУГИ
            p.services__text ООО “Добрушдрев” оказывает услуги по распилу древесины, ее доставке и предварительной сушке.<br>Доставка осуществляется собственным лесовозом-вездеходом, отличающимся высокой проходимостью даже в самых, казалось бы, безнадежных случаях.<br>Сушка дерева производится при помощи двух первоклассных итальянских сушек высокой мощности.
            .slider
                .slider__item
                    a(href="")
                        img.slider__img(src="./img/img-left.jpg", alt="")
                    .slider__item_inner
                        h2.slider__title Доставка пиломатериалов
                        h2.slider__subtitle (Гомель и обл.)
                        a.slider__button(href="") Подробнее
                .slider__item
                    a(href="")
                        img.slider__img(src="./img/img-center.jpg", alt="")
                    .slider__item_inner
                        h2.slider__title Доставка пиломатериалов
                        h2.slider__subtitle (вся Беларусь)
                        a.slider__button(href="") Подробнее
                .slider__item
                    a(href="")
                        img.slider__img(src="./img/img-right.jpg", alt="")
                    .slider__item_inner
                        h2.slider__title Камерная сушка дерева лесной породы
                        a.slider__button(href="") Подробнее
                
                .slider__item
                    a(href="")
                        img.slider__img(src="./img/img-left.jpg", alt="")
                    .slider__item_inner
                        h2.slider__title Доставка пиломатериалов
                        h2.slider__subtitle (Гомель и обл.)
                        a.slider__button(href="") Подробнее
                .slider__item
                    a(href="")
                        img.slider__img(src="./img/img-center.jpg", alt="")
                    .slider__item_inner
                        h2.slider__title Доставка пиломатериалов
                        h2.slider__subtitle (вся Беларусь)
                        a.slider__button(href="") Подробнее
                .slider__item
                    a(href="")
                        img.slider__img(src="./img/img-right.jpg", alt="")
                    .slider__item_inner
                        h2.slider__title Камерная сушка дерева лесной породы
                        a.slider__button(href="") Подробнее