<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/style.css")
        title ООО "ДобрушДрев" | Мебель премиум класса и пиломатериал от производителя.
    body
        .wrapper
            //- include header
            include news-block1
            include news-block2
            include news-block3 
            //- include footer