.news-block3
    .news-block3__content
        .news-block3__block3
            .block3__left-block
                h2.block3__title Что лучше: мебель из массива или МДФ?
                p.block3__text Ввиду большой конкуренции производители мебели все чаще предлагают потребителям все новые и новые модели самых различных предметов интерьера, постоянно стремясь усовершенствовать их, значительно не увеличивая при этом себестоимость продукции. То же касается и применяемых при изготовлении материалов. Рынок богат разнообразием, и каждая фабрика или частное предприятие стараются убедить покупателей в...
                .block3__button
                    a.block3__link(href="") Читать дальше >
            .block3__right-block
                img.block3__img(src="./img/block3.jpg", alt="")