.news-block2
    .news-block2__content
        .news-block2__block2
            .block2__left-block
                img.block2__img(src="./img/block2.jpg", alt="")
            .block2__right-block
                h2.block2__title Lorem ipsum dolor sit amet consectetur consectetur.
                p.block2__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis libero quasi odio sunt enim veritatis cum praesentium, repellat error quia laborum veniam ullam laboriosam consequatur molestias corrupti nesciunt perspiciatis dolorum alias tempore nulla vitae nihil. Dolore architecto quibusdam numquam incidunt hic suscipit veniam unde aperiam. Ducimus delectus nihil quibusdam officiis.
                .block2__button
                    a.block2__link(href="") Читать дальше >
                