.news-block1
    .news-block1__content
        .news-block1__left-block
            .left-block__container
                h2.news-block1__title Выбираем двери из массива:<br>руководство для покупателя
                p.news-block1__text Двери из массива не теряют своей популярности и востребованности сотни лет. Деревянные межкомнатные изделия использовали в жилищах во все времена. Ранее их могли себе позволить исключительно лишь знатные и состоятельные люди. Сейчас же все изменилось: двери из массива дерева может купить как минимум каждый второй. А если учесть удобные способы...
                .news-block1__button
                    a.news-block1__link(href="") Читать дальше >
        .news-block1__right-block
            //- img.block1__img(src="./img/block1.jpg", alt="")
