.news-block1
    .news-block1__content
        h1.news-block1__title НОВОСТИ
        .news-block1__block1
            .block1__left-block
                h2.block1__title Lorem ipsum dolor sit amet consectetur consectetur.
                p.block1__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis libero quasi odio sunt enim veritatis cum praesentium, repellat error quia laborum veniam ullam laboriosam consequatur molestias corrupti nesciunt perspiciatis dolorum alias tempore nulla vitae nihil. Dolore architecto quibusdam numquam incidunt hic suscipit veniam unde aperiam. Ducimus delectus nihil quibusdam officiis.
                .block1__button
                    a.block1__link(href="") Читать дальше >
            .block1__right-block
                img.block1__img(src="./img/block1.jpg", alt="")
