.news-block2
    .news-block2__content
        .news-block2__left-block
            //- img.block2__img(src="./img/block2.jpg", alt="")
        .news-block2__right-block
            .right-block__container
                h2.news-block2__title Преимущества и недостатки мебели из массива ольхи
                p.news-block2__text Все большее число истинных ценителей предметов мебели, выполненных из массива, отдают предпочтение ольховым, и это не случайно. Они обладают массой положительных качеств, связанных не только с эстетическими, но и техническими характеристиками. Ольха выделяется теплым, немного розоватым цветом. Она отличается красивой структурой и немного шероховатой поверхностью. Иногда этот пиломатериал еще именуют...
                .news-block2__button
                    a.news-block2__link(href="") Читать дальше >
            