.news-block3
    .news-block3__content
        .news-block3__block3
            .block3__left-block
                h2.block3__title Lorem ipsum dolor sit amet consectetur consectetur.
                p.block3__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus blanditiis nisi nesciunt non officia maiores aliquam inventore veritatis ipsam numquam. Dolores quidem architecto aspernatur enim itaque animi, earum exercitationem et sequi corrupti, aut cupiditate? Itaque, mollitia saepe perspiciatis ad earum esse voluptatum enim molestiae natus ratione deleniti error eveniet reprehenderit.
                .block3__button
                    a.block3__link(href="") Читать дальше >
            .block3__right-block
                img.block3__img(src="./img/block3.jpg", alt="")