.news-block1
    .news-block1__content
        h1.news-block1__title НОВОСТИ
        .news-block1__block1
            .block1__left-block
                h2.block1__title Выбираем двери из массива: руководство для покупателя
                p.block1__text Двери из массива не теряют своей популярности и востребованности сотни лет. Деревянные межкомнатные изделия использовали в жилищах во все времена. Ранее их могли себе позволить исключительно лишь знатные и состоятельные люди. Сейчас же все изменилось: двери из массива дерева может купить как минимум каждый второй. А если учесть удобные способы...
                .block1__button
                    a.block1__link(href="") Читать дальше >
            .block1__right-block
                img.block1__img(src="./img/block1.jpg", alt="")
