.watched
    .watched__content
        .watched__title ВЫ СМОТРЕЛИ:
        .watched__slider
            a.slider__left-button(href="")
                img.left-button__img(src="", alt="")
            a.slider__block(href="")
                img.slider__img(src="", alt="")
                .slider__title Вагонка (сосна, ель)
                .slider__subtitle 14x88 см
                .slider__button
                    a.slider__link(href="") В корзину
            a.slider__block(href="")
                img.slider__img(src="", alt="")
                .slider__title Вагонка (сосна, ель)
                .slider__subtitle 14x88 см
                .slider__button
                    a.slider__link(href="") В корзину
            a.slider__block(href="")
                img.slider__img(src="", alt="")
                .slider__title Вагонка (сосна, ель)
                .slider__subtitle 14x88 см
                .slider__button
                    a.slider__link(href="") В корзину
            a.slider__right-button(href="") 
                img.right-button__img(src="", alt="")
        .watched__button
            a.watched__link(href="") Перейти в каталог