.catalog {
	font-size: 18px;
	&__content {
		display: flex;
	}
	&__left-block {
		width: 34.4%;
		border: 1px solid #000;
	}
	&__path {
		color: #686868;
		padding-top: 46px;
		font-weight: 700;
	}
	&__filter {
		color: #686868;
		font-weight: 700;
		padding-top: 45px;
		padding-bottom: 41px;
	}
	&__category {}
	&__price {}
	&__material {}
	&__color {}
	&__right-block {
		width: 65.6%;
		border: 1px solid #000;
	}
	&__select-filter {
		margin-top: 106px;
		margin-bottom: 43px;
	}
	&__catalog {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__item {
		padding-bottom: 55px;
	}
	&__img {
		height: 317px;
		width: 269px;
		margin-bottom: 29px;
		transition: .2s;
		&:hover {
			height: 318px;
			width: 270px;
		}
	}
	&__text {}
	&__info {
		display: flex;
		justify-content: space-between;
	}
	&__title {
		font-size: 13px;
		color: #8a8a8a;
	}
	&__subtitle {
		font-size: 13px;
		color: #8a8a8a;
	}
	&__button {}
	&__link {
		color: #e9b979;
		font-weight: 700;
		padding: 9px;
		font-size: 9px;
		border: 2px solid #e9b979;
		border-radius: 20px;
		transition: .3s;
		&:hover {
			background-color: #e9b979;
			border: 0.1px solid #fff;
			color: #fff;
		}
	}
}
.category {
	&__title {
		color: #686868;
		padding-bottom: 19px;
		font-weight: 700;
	}
	&__item {
		display: flex;
		padding-bottom: 22px;
		color: #686868;
	}
	&__checkbox {
		display: none;
	}
	&__text {
		margin-left: 5px;
	}
}
.price {
	&__title {
		color: #686868;
		font-weight: 700;
		padding-top: 42px;
		padding-bottom: 19px;
	}
	&__item {
		display: flex;
		padding-bottom: 19px;
		color: #686868;
	}
	&__checkbox {
		display: none;
	}
	&__text {
		margin-left: 5px;
	}
}
.material {
	&__title {
		color: #686868;
		font-weight: 700;
		padding-bottom: 19px;
	}
	&__item {
		display: flex;
		padding-bottom: 25px;
		color: #686868;
	}
	&__checkbox {
		display: none;
	}
	&__text {
		margin-left: 5px;
	}
}
.color {
	display: flex;
	&__title {
		color: #686868;
		font-weight: 700;
		padding-bottom: 42px;
	}
	&__item {
		
		// display: flex;
	}
	&__checkbox {
		// display: none;
	}
}

.fake {
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 1px solid #000507;
	position: relative;
}

.fake::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	width: 13px;
	height: 13px;
	background-color: #000;
	opacity: 0;
	transition: .1s;
}

.category__checkbox:checked + .fake::before {
	opacity: 1;
}
.material__checkbox:checked + .fake::before {
	opacity: 1;
}
.price__checkbox:checked + .fake::before {
	opacity: 1;
}

.fake-r {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	transition: .3s;
	
}
.fake-r::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	width: 13px;
	height: 13px;
	background-color: #fff;
	opacity: 0;
	border-radius: 50%;
	transition: .1s;
}

.fake-r1 {
	border: 5px solid #214c16;
	background-color: #214c16;
}
.fake-r2 {
	border: 5px solid #d99500;
	background-color: #d99500;
}
.fake-r3 {
	border: 5px solid #6c977f;
	background-color: #6c977f;
}
.fake-r4 {
	border: 5px solid #847567;
	background-color: #847567;
}
.fake-r5 {
	border: 5px solid #e2907a;
	background-color: #e2907a;
}


//SELECT COLOR
.about-product {
	&__select-color {
		display: flex;
		margin-top: 30px;
		border: 1px solid #000;
		div {
			padding-top: 8px;
			font-weight: 700;
			color: #282828;
		}
	}
}
.select-color {
	&__color {
		display: none;
	}
}
.color {
	&__item {
		padding-left: 22px;
	}
}

.fake-color {
	display: inline-block;
	width: 30px;
	height: 30px;
	position: relative;
	border-radius: 50%;	
}
.fake-color::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	width: 20px;
	height: 20px;
	background-color: #fff;
	opacity: 0;
	transition: .3s;
	border-radius: 50%;
	// border: 5px solid #000;
}
.select-color__color:checked + .fake-color::before {
	opacity: 1;
}
.fake-color1 {
	border: 5px solid #214c16;
	background-color: #214c16;
}
.fake-color2 {
	border: 5px solid #d99500;
	background-color: #d99500;
}
.fake-color3 {
	border: 5px solid #6c977f;
	background-color: #6c977f;
}
.fake-color4 {
	border: 5px solid #847567;
	background-color: #847567;
}
.fake-color5 {
	border: 5px solid #e2907a;
	background-color: #e2907a;
}

//MEDIA QUERIES
@media screen and (max-width: 1440px) {}
@media screen and (max-width: 1024px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 425px) {}
@media screen and (max-width: 375px) {}
@media screen and (max-width: 320px) {}