@import "nullstyle";
// @import "header";
@import "catalog";
// @import "watched";
// @import "footer";
.wrapper {}
.container {
    overflow: hidden;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}