@import "nullstyle";
// @import "header";
@import "catalog";
@import "watched";
// @import "footer";
.wrapper {}
.container {
    overflow: hidden;
    // min-height: 100%;
    // width: 1440px;
    max-width: 1440px;
    margin: 0 auto;
    // border: 1px solid red;
}