footer.footer
    .container
    .footer__content
        .footer__left-block
            .footer__address
            .footer__operating-mode
        .footer__center-block
            .footer__logo
                img.logo__img(src="", alt="")
                .footer__title ООО "ДОБРУШДРЕВ"
                br
                .footer__subtitle УНП 490786153
        .footer__right-block
            .footer__tel-num +375 29 8498281
            .footer__tel-num2 +375 44 5579257
            .footer__list-of-soc-net
                a.footer__whatsapp(href="")
                    img.whatsapp__img(src="", alt="")
                a.footer__telegram(href="")
                    img.telegram__img(src="", alt="")
                a.footer__viber(href="")
                    img.viber__img(src="", alt="")