.info
    .container
        .info__content
            .info__block-left
                h2.info__title Мы находимся:
                p.info__text1 Республика Беларусь,<br>246009
                p.info__text2 г. Гомель,<br>Ул. Добрушская 29В
            .info__block-center
                h2.info__title Наши контакты:
                p.info__text1 Email:
                p.info__text2 Тел:<br>+375 29 8498281<br>+375 44 5579257
            .info__block-right
                h2.info__title Реквизиты:
                p.info__text1 УНП 490786153
                p.info__text2 © 2019 ООО «ДобрушДрев»