.map    
    .map__content   
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2434.1077046684222!2d31.050073892546582!3d52.40472418284828!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46d468743f0970a1%3A0xa5b66f5edc6edbef!2z0JTQvtCx0YDRg9GI0YHQutCw0Y8g0YPQuy4gMjksINCT0L7QvNC10LvRjCwg0JHQtdC70LDRgNGD0YHRjA!5e0!3m2!1sru!2sua!4v1596705456035!5m2!1sru!2sua" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>