.payment-and-delivery
    .container
        .payment-and-delivery__content
            .payment-and-delivery__title ОПЛАТА И ДОСТАВКА
            .payment-and-delivery__payment 
                p.payment__title Клиент — физическое лицо может оплатить покупку двумя способами:
                p.payment__text1 1. Наличными непосредственно в момент приобретения или оформления заказа.
                p.payment__text2 2. Через кассу любого банка, путем зачисления наличных денежных средств на счет Продавца
            .payment-and-delivery__payment-details
                .payment-details__prompt *Открытие счета не понадобится. Достаточно предъявить операционисту реквизиты нашей организации
                .payment-details__info ООО «ДобрушДрев» УНП 490786153 Реквизиты для оплаты: ОАО «Белгазпромбанк» гомельская областная дирекция. БИК OLMPBY2X BY68OLMP30128000095090000933
                .payment-details__text1 Для удобства вы можете заранее получить счет-фактуру в офисе компании. Также это актуально при оплате за счет целевых кредитных средств
                .payment-details__text2 Обратите внимание! В случае выбора данного способа оплаты денежные средства могут поступить на счет в течение 2-5 дней. Все зависит от банка-корреспондента. Дополнительно может взиматься комиссия в качестве вознаграждения финансового учреждения
            .payment-and-delivery__delivery-details
                .delivery-details__title Покупателям и Поставщикам из России и стран СНГ:
                .delivery-details__text1 Доставка осуществляется автомобильным и (или) железнодорожным транспортом. Самовывоз — со склада в г. Гомеле
                .delivery-details__text2 Подробнее о тарифах на ж/д транспорт можно узнать на официальном сайте Белорусской железной дороги. Контактные телефоны для связи: +375298498281; +37544557925
                