@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: "Asap", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.catalog {
  background-color: #666;
  font-size: 18px;
}
.catalog__content {
  display: flex;
}
.catalog__left-block {
  width: 38.8%;
  border: 1px solid #000;
}
.catalog__path {
  font-weight: 700;
}
.catalog__filter {
  font-weight: 700;
  padding-top: 45px;
  padding-bottom: 41px;
}
.catalog__right-block {
  width: 61.2%;
  border: 1px solid #000;
}
.category__title {
  padding-bottom: 19px;
  font-weight: 700;
}
.category__item {
  display: flex;
  padding-bottom: 22px;
}
.price__title {
  font-weight: 700;
  padding-top: 42px;
  padding-bottom: 19px;
}
.price__item {
  display: flex;
  padding-bottom: 19px;
}
.material__title {
  font-weight: 700;
  padding-bottom: 19px;
}
.material__item {
  display: flex;
  padding-bottom: 25px;
}
.color {
  display: flex;
}
.color__title {
  font-weight: 700;
  padding-bottom: 42px;
}
.container {
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
  border: 1px solid red;
}