@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: "Asap", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.catalog {
  font-size: 18px;
}
.catalog__content {
  display: flex;
}
.catalog__left-block {
  width: 34.4%;
  border: 1px solid #000;
}
.catalog__path {
  color: #686868;
  padding-top: 46px;
  font-weight: 700;
}
.catalog__filter {
  color: #686868;
  font-weight: 700;
  padding-top: 45px;
  padding-bottom: 41px;
}
.catalog__right-block {
  width: 65.6%;
  border: 1px solid #000;
}
.catalog__select-filter {
  margin-top: 106px;
  margin-bottom: 43px;
}
.catalog__catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog__item {
  padding-bottom: 55px;
}
.catalog__img {
  height: 317px;
  width: 269px;
  margin-bottom: 29px;
  transition: 0.2s;
}
.catalog__img:hover {
  height: 318px;
  width: 270px;
}
.catalog__info {
  display: flex;
  justify-content: space-between;
}
.catalog__title {
  font-size: 13px;
  color: #8a8a8a;
}
.catalog__subtitle {
  font-size: 13px;
  color: #8a8a8a;
}
.catalog__link {
  color: #e9b979;
  font-weight: 700;
  padding: 9px;
  font-size: 9px;
  border: 2px solid #e9b979;
  border-radius: 20px;
  transition: 0.3s;
}
.catalog__link:hover {
  background-color: #e9b979;
  border: 0.1px solid #fff;
  color: #fff;
}

.category__title {
  color: #686868;
  padding-bottom: 19px;
  font-weight: 700;
}
.category__item {
  display: flex;
  padding-bottom: 22px;
  color: #686868;
}
.category__checkbox {
  display: none;
}
.category__text {
  margin-left: 5px;
}

.price__title {
  color: #686868;
  font-weight: 700;
  padding-top: 42px;
  padding-bottom: 19px;
}
.price__item {
  display: flex;
  padding-bottom: 19px;
  color: #686868;
}
.price__checkbox {
  display: none;
}
.price__text {
  margin-left: 5px;
}

.material__title {
  color: #686868;
  font-weight: 700;
  padding-bottom: 19px;
}
.material__item {
  display: flex;
  padding-bottom: 25px;
  color: #686868;
}
.material__checkbox {
  display: none;
}
.material__text {
  margin-left: 5px;
}

.color {
  display: flex;
}
.color__title {
  color: #686868;
  font-weight: 700;
  padding-bottom: 42px;
}
.fake {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #000507;
  position: relative;
}

.fake::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 13px;
  height: 13px;
  background-color: #000;
  opacity: 0;
  transition: 0.1s;
}

.category__checkbox:checked + .fake::before {
  opacity: 1;
}

.material__checkbox:checked + .fake::before {
  opacity: 1;
}

.price__checkbox:checked + .fake::before {
  opacity: 1;
}

.fake-r {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 0.3s;
}

.fake-r::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 13px;
  height: 13px;
  background-color: #fff;
  opacity: 0;
  border-radius: 50%;
  transition: 0.1s;
}

.fake-r1 {
  border: 5px solid #214c16;
  background-color: #214c16;
}

.fake-r2 {
  border: 5px solid #d99500;
  background-color: #d99500;
}

.fake-r3 {
  border: 5px solid #6c977f;
  background-color: #6c977f;
}

.fake-r4 {
  border: 5px solid #847567;
  background-color: #847567;
}

.fake-r5 {
  border: 5px solid #e2907a;
  background-color: #e2907a;
}

.about-product__select-color {
  display: flex;
  margin-top: 30px;
  border: 1px solid #000;
}
.about-product__select-color div {
  padding-top: 8px;
  font-weight: 700;
  color: #282828;
}

.select-color__color {
  display: none;
}

.color__item {
  padding-left: 22px;
}

.fake-color {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 50%;
}

.fake-color::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  opacity: 0;
  transition: 0.3s;
  border-radius: 50%;
}

.select-color__color:checked + .fake-color::before {
  opacity: 1;
}

.fake-color1 {
  border: 5px solid #214c16;
  background-color: #214c16;
}

.fake-color2 {
  border: 5px solid #d99500;
  background-color: #d99500;
}

.fake-color3 {
  border: 5px solid #6c977f;
  background-color: #6c977f;
}

.fake-color4 {
  border: 5px solid #847567;
  background-color: #847567;
}

.fake-color5 {
  border: 5px solid #e2907a;
  background-color: #e2907a;
}

@media screen and (max-width: 1024px) {
  .catalog {
    font-size: 18px;
  }
  .catalog__left-block {
    width: 34%;
  }
  .catalog__path {
    padding-top: 46px;
  }
  .catalog__filter {
    padding-top: 45px;
    padding-bottom: 41px;
  }
  .catalog__select-filter {
    margin-top: 76px;
    margin-bottom: 23px;
    font-size: 18px;
  }
  .catalog__select-filter option {
    font-size: 16px;
  }
  .catalog__item {
    padding-bottom: 25px;
  }
  .catalog__img {
    height: 347px;
    width: 299px;
    margin-bottom: 9px;
  }
  .catalog__img:hover {
    height: 348px;
    width: 300px;
  }
  .catalog__title {
    font-size: 16px;
  }
  .catalog__subtitle {
    font-size: 16px;
  }
  .catalog__link {
    padding: 9px;
    font-size: 12px;
    border-radius: 20px;
  }

  .category__title {
    padding-bottom: 19px;
  }
  .category__item {
    padding-bottom: 12px;
  }
  .category__text {
    margin-left: 5px;
    font-size: 22px;
  }
}
@media screen and (max-width: 768px) {
  .catalog {
    font-size: 18px;
  }
  .catalog__left-block {
    width: 34%;
  }
  .catalog__path {
    padding-top: 26px;
  }
  .catalog__filter {
    padding-top: 25px;
    padding-bottom: 21px;
  }
  .catalog__select-filter {
    margin-top: 76px;
    margin-bottom: 23px;
    font-size: 18px;
  }
  .catalog__select-filter option {
    font-size: 16px;
  }
  .catalog__item {
    padding-bottom: 15px;
    padding-left: 15px;
  }
  .catalog__img {
    height: 497px;
    width: 449px;
    margin-bottom: 9px;
  }
  .catalog__img:hover {
    height: 498px;
    width: 450px;
  }
  .catalog__title {
    font-size: 20px;
  }
  .catalog__subtitle {
    font-size: 20px;
  }
  .catalog__link {
    padding: 9px;
    font-size: 14px;
    border-radius: 20px;
  }

  .category__title {
    padding-bottom: 19px;
  }
  .category__item {
    padding-bottom: 12px;
  }
  .category__text {
    margin-left: 5px;
    font-size: 20px;
  }
}
.container {
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}