.advantages {
	&__content {
		max-height: 640px;
	}
	&__title {
		margin-bottom: 110px;
		margin-top: 194px; 
		text-align: center;
		color: #282828;
		font-size: 36px;
		font-weight: bold;
		letter-spacing: 1.36px;
	}
	&__list-of-advantages {
		margin-bottom: 239px;
		text-align: center;
		display: flex;
		justify-content: space-between;
	}
	&__item {
		max-width: 339px;
		display: flex;
		flex-direction: column;
		border: 1px solid #000;
	}
	&__circle {
		margin-bottom: 50px;
	}
	&__img {
		margin: 0 auto;
		width: 139px;
		height: 139px;
	}
	&__text {
		letter-spacing: 0.24px;
		font-weight: 500;
		color: #282828;
		font-size: 24px;
	}
}
@media screen and (max-width: 769px) {
	.advantages {
		&__content {
			// max-height: 540px;
		}
		&__title {
			margin-bottom: 70px;
			// margin-top: 134px; 
			margin-top: 100px;
			text-align: center;
			color: #282828;
			font-size: 30px;
			font-weight: bold;
			letter-spacing: 1.36px;
		}
		&__list-of-advantages {
			// margin-bottom: 134px;
			margin-bottom: 100px;
			text-align: center;
			display: flex;
			justify-content: space-between;
		}
		&__item {
			max-width: 309px;
		}
		&__circle {
			margin-bottom: 20px;
		}
		&__img {
			width: 109px;
			height: 109px;
		}
		&__text {
			font-size: 20px;
			letter-spacing: 0.20px;
		}
	}
}
@media screen and (max-width: 426px) {
	.advantages {
		&__content {
			// max-height: 540px;
		}
		&__title {
			margin-bottom: 40px;
			// margin-top: 134px; 
			margin-top: 90px;
			text-align: center;
			color: #282828;
			font-size: 24px;
			font-weight: bold;
			letter-spacing: 1.36px;
		}
		&__list-of-advantages {
			// margin-bottom: 134px;
			margin-bottom: 90px;
			text-align: center;
			display: flex;
			justify-content: space-between;
		}
		&__item {
			max-width: 259px;
		}
		&__circle {
			margin-bottom: 10px;
		}
		&__img {
			width: 79px;
			height: 79px;
		}
		&__text {
			font-size: 14px;
			letter-spacing: 0.16px;
		}
	}
}