.advantages {
	&__content {
		max-height: 640px;
		// display: flex;
		// justify-content: space-between;
	}
	&__title {
		text-align: center;

		// width: 505px;
		color: #282828;
		font-size: 36px;
		font-weight: bold;
		letter-spacing: 1.36px;
	}
	&__list-of-advantages {
		text-align: center;
		display: flex;
		justify-content: space-between;
	}
	&__item {}
	&__circle {}
	&__img {}
	&__text {
		// width: 319px;
		color: #282828;
		font-size: 24px;
		letter-spacing: 0.24px;
	}
}