.care {
	color: #fff;
	&__content {
		display: flex;
		overflow: hidden;
		width: 100%;
		display: flex;
	}
	&__left-block {
		width: 100%;
		display: flex;
		justify-content: center;
		// border: 1px solid #000;
		width: 53.7%;
		height: 803px;
		background: url(../img/care.jpg) no-repeat center;
		background-size: cover;
	}
	&__img {}
	&__right-block {
		// width: 46.3%;
		// padding: 80px;
		// // padding-right: 210px;
		// background-color: #e9b979;
		// // width: 876px;
		// height: 803px;
		background-color: #e9b979;
		height: 803px;
		width: 46.3%;
	}
	&__title {
		// text-transform: uppercase;
		// // width: 528px;
		// color: #fefefe;
		// font-size: 46px;
		// font-weight: bold;
		// line-height: 61.8px;
		// letter-spacing: 1.74px;
		margin: 0 auto;
		max-width: 529px;
		width: 528px;
		color: #fefefe;
		font-size: 40px;
		font-weight: bold;
		line-height: 61.8px;
		letter-spacing: 1.74px;
		text-transform: uppercase;
		padding-bottom: 52px;
	}
	&__text {
		// border: 1px solid #000;
		// line-height: 27px;
		// width: 526px;
		// color: #fefefe;
		// font-size: 16px;
		// font-weight: bold;
		// letter-spacing: 0.16px;
		padding-bottom: 68px;
		color: #fefefe;
		font-size: 16px;
		font-weight: bold;
		letter-spacing: 0.16px;
		// border: 1px solid #000;
	}
	&__button {}
	&__link {
		// color: #fefefe;
		// font-size: 17px;
		// font-weight: bold;
		// text-decoration: underline;
		// letter-spacing: 0.16px;
		color: #fefefe;
		font-size: 17px;
		font-weight: bold;
		text-decoration: underline;
		letter-spacing: 0.16px;	
	}
}
.right-block {
	&__container {
		padding: 0 10px 0 10px;
		margin-top: 118px;
		margin-right: 240px;
		margin-left: 140px;
		margin-bottom: 86px;
		max-width: 512px;
		max-height: 803px;
		height: 803px;
		border: 1px solid #000;
	}
}

//МЕДИАЗАПРОСЫ
@media screen and (max-width: 426px) {
	.care {
		&__title {
			font-size: 25px;
			padding-bottom: 20px;
		}
		&__text {
			font-size: 16px;
		}
		&__link {
			font-size: 16px;
		}
		&__left-block {
			height: 300px;
			// margin: 0;
		}
		&__right-block {
			height: 400px;
		}
	}
	.right-block {
		&__container {
			margin: 0;
			padding: 10px;
			margin: 0px;
			max-width: 100%;
			// padding-right: 10px;
			// max-height: 300px;
		}
	}
	
}
@media screen and (max-width: 768px) {
	.care {
		&__left-block {
			max-height: 460px;
		}
		&__right-block {
			max-height: 460px;
		}
	}
	.right-block {
		&__container {
			margin: 50px;
			max-width: 100%;
			// padding-right: 10px;
			padding-left: 10px;
			// height: 500px;
		}
	}
}
@media screen and (width: 1024px) {
	.right-block {
		&__container {
			margin: 100px;
			max-width: 100%;
			// padding-right: 10px;
			padding-left: 10px;
			height: 600px;
		}
	}
}
@media screen and (max-width: 1024px) {
	.care {
		&__content {
			flex-wrap: wrap;
		}
		&__right-block {
			width: 100%;
			height: 500px;
			display: flex;
			flex-direction: column;
			text-align: center;
			justify-content: center;
		}
		&__left-block {
			width: 100%;
		}
	}
}
@media screen and (width: 1280px) {
	.care {
		&__content {
			margin-left: 0;
			margin-right: 0px;
			max-width: 100%;
			height: 700px;
		}
		&__right-block {
			margin-left: 0;
			margin-right: 0;
			max-width: 100%;
			// padding-right: 10px;
			padding-left: 10px;
		}
		.right-block {
			&__container {
				margin-top: 50px;
				margin-left: 0;
				margin-right: 0px;
				max-width: 100%;
				// padding-right: 10px;
				padding-left: 10px;
			}
		}
	}
}
@media screen and (width: 1440px) {
	.right-block {
		&__container {
			// margin-left: 0;
			margin-right: 0;
			// margin-right: 40px;
			margin-left: 40px;
			max-width: 100%;
			padding-right: 10px;
			height: 703px;
		}
	}
}
@media screen and (width: 2560px) {
	.right-block {
		&__container {
			// margin-left: 560px;
			margin-right: 560px;
			margin-left: 20px;
			// margin-right: 20px;
			max-width: 100%;
			// padding-right: 10px;
			padding-left: 10px;
			height: 703px;
		}
	}
}