.care {
	color: #fff;
	&__content {
		display: flex;
		overflow: hidden;
		width: 100%;
		display: flex;
	}
	&__left-block {
		width: 100%;
		display: flex;
		justify-content: center;
		width: 53.7%;
		height: 803px;
		background: url(../img/care.jpg) no-repeat center;
		background-size: cover;
	}
	&__img {}
	&__right-block {
		position: relative;
		background-color: #e9b979;
		height: 803px;
		width: 46.3%;
	}
	&__title {
		margin: 0 auto;
		color: #fefefe;
		font-size: 40px;
		font-weight: bold;
		letter-spacing: 1.74px;
		text-transform: uppercase;
		padding-bottom: 52px;
	}
	&__text {
		padding-bottom: 68px;
		color: #fefefe;
		font-size: 16px;
		font-weight: bold;
		letter-spacing: 0.16px;
	}
	&__button {}
	&__link {
		color: #fefefe;
		font-size: 17px;
		font-weight: bold;
		text-decoration: underline;
		letter-spacing: 0.16px;
	}
}
.right-block {
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 10px 0 10px;
		position: absolute;
		left: 49px;
		margin-bottom: 86px;
		width: 600px;
		max-height: 803px;
		height: 803px;
		border: 1px solid #000;
	}
}

// МЕДИАЗАПРОСЫ
@media screen and (min-width: 2559px) {
	.care {
		&__title {
			font-size: 46px;
			padding-bottom: 52px;
		}
		&__text {
			padding-bottom: 50px;
			font-size: 20px;
			letter-spacing: 0.16px;
			line-height: 20px;
		}
		&__link {
			font-size: 20px;
		}
	}
	.right-block {
		&__container {
			max-width: 100%;
			height: 100%;
			left: 10px;
		}
	}
}

@media screen and (max-width: 1441px) {
	.care {
		&__title {
			font-size: 46px;
			padding-bottom: 52px;
		}
		&__text {
			padding-bottom: 50px;
			font-size: 20px;
			letter-spacing: 0.16px;
		}
		&__link {
			font-size: 20px;
		}
	}
	.right-block {
		&__container {
			margin-left: 0;
			margin-right: 0;
			max-width: 100%;
			padding: 0 20px;
			height: 100%;
		}
	}
}

@media screen and (width: 1280px) {
	.care {
		&__content {
			margin-left: 0;
			margin-right: 0px;
			max-width: 100%;
			height: 700px;
		}
		&__right-block {
			margin-left: 0;
			margin-right: 0px;
			max-width: 100%;
			padding-right: 10px;
		}
		.right-block {
			&__container {
				margin-top: 50px;
				margin-left: 0;
				margin-right: 0px;
				max-width: 100%;
				padding-right: 10px;
			}
		}
	}
}

@media screen and (max-width: 1025px) {
	.care {
		&__content {
			flex-wrap: wrap;
		}
		&__title {
			margin: 0 auto;
			padding-bottom: 30px;
			padding-top: 20px;
			font-size: 40px;
		}
		&__text {
			font-size: 26px;
			padding-bottom: 30px;
		}
		&__link {
			font-size: 26px;
		}
		&__right-block {
			width: 100%;
			display: flex;
			flex-direction: column;
			text-align: center;
			justify-content: center;
			height: 100vh;
		}
		&__left-block {
			width: 100%;
			height: 100vh;
		}
	}
	.right-block {
		&__container {
			margin: 0;
			display: flex;
			flex-direction: column;
			width: 100%;
			left: 0;
		}
	}
}

@media screen and (max-width: 769px) {
	.care {
		&__title {
			margin: 0 auto;
			padding-bottom: 30px;
			padding-top: 16px;
			font-size: 36px;
		}
		&__text {
			font-size: 22px;
			padding-bottom: 30px;
		}
		&__link {
			font-size: 22px;
		}
		&__left-block {
			width: 100%;
			height: 768px;
		}
	}
}

@media screen and (max-width: 426px) {
	.care {
		&__title {
			margin: 0 auto;
			padding-bottom: 20px;
			padding-top: 16px;
			font-size: 30px;
		}
		&__text {
			font-size: 16px;
			padding-bottom: 20px;
		}
		&__link {
			font-size: 16px;
		}
		&__left-block {
			width: 100%;
			height: 526px;
		}
	}
	.right-block {
		&__container {}
	}
}

@media screen and (max-width: 376px) {
	.care {
		&__title {
			font-size: 22px;
			padding-bottom: 10px;
		}
		&__text {
			font-size: 15px;
			padding-bottom: 10px;
		}
		&__link {
			font-size: 16px;
		}
		&__left-block {
			width: 100%;
			height: 476px;
		}
	}
	.right-block {
		&__container {
			margin: 0;
			padding: 10px;
			margin: 0px;
			max-width: 100%;
		}
	}
}

@media screen and (max-width: 321px) {
	.care {
		&__title {
			font-size: 20px;
			padding-bottom: 15px;
			padding-top: 15px;
		}
		&__text {
			font-size: 14px;
			padding-bottom: 6px;
		}
		&__link {
			font-size: 14px;
		}
		&__left-block {
			width: 100%;
			height: 420px;
		}
	}
	.right-block {
		&__container {
			margin: 0;
			padding: 10px;
			margin: 0px;
			max-width: 100%;
		}
	}
}