@import 'nullstyle';
.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 10px;
    overflow: hidden;
	max-width: 1440px;
	margin: 0 auto;
	border: 1px solid #000;
	.btn {
		padding: 10px;
		cursor: pointer;
	}
	.col2 {
		&:first-child {
			flex: 0 0 35%;
			max-width: 35%;
		}
		&:last-child {
			flex: 1 0 65%;
			max-width: 65%;
		}
	}
	.gallery {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px 10px 10px 10px;
		&__title {
			font-size: 48px;
			letter-spacing: 2px;
			color: #000;
		}
		&__open {
			width: 100%;
		}
	}
	.slider1 {
		&__img1 {
			// width: 100%;
			height: 436px;
			padding: 0 10px 0 0;
		}
		&__img2 {
			margin: 0 0 10px 0;
			// width: 100%;
			height: 211px;
		}
		&__img3 {
			// width: 100%;
			height: 211px;
		}
		&__item1 {
			display: flex;
			// justify-content: center;
		}
		.slick-dots {
			display: flex;
			align-items: center;
			justify-content: center;
			li {
				list-style: none;
				margin: 0 10px;
			}
			li.slick-active button {
				background-color: #e9b979;
			}
			button {
				font-size: 0;
				width: 10px;
				height: 10px;
				background-color: #a0a0a0;
				border-radius: 50%;
			}
		}
	}
	.item1 {
		&__left-block {
			// width: 1200px;
		}
		&__right-block {
			// display: block;
			display: flex;
			flex-direction: column;
		}
	}
	.slick-list {
		overflow: hidden;
	}
	.slick-track {
		display: flex;
		align-items: flex-start;
	} 
}
@media screen and (max-width: 1440px){
	.row {
		.slider1 {
			&__img1 {
				// width: 100%;
				height: 376px;
				padding: 0 13px 0 0;
			}
			&__img2 {
				margin: 0 0 13px 0;
				// width: 100%;
				height: 181px;
			}
			&__img3 {
				// width: 100%;
				height: 181px;
			}
		}
	}
}
@media screen and (max-width: 1257px){
	.row {
		.slider1 {
			&__img1 {
				// width: 100%;
				height: 316px;
				padding: 0 10px 0 0;
			}
			&__img2 {
				margin: 0 0 13px 0;
				// width: 100%;
				height: 151px;
			}
			&__img3 {
				// width: 100%;
				height: 151px;
			}
		}
	}
}
@media(max-width: 1024px) {
	.row {
		max-width: 1024px;
		display: block;
		.col2 {
			max-width: 100% !important;
		} 
		.slider1 {
			// width: 100%;
			border: 1px solid #000;
			// margin: auto;
			// margin-left: 35px;
		}
		img{ 
			height: auto !important;
		}  
		.item1 {
			&__right-block {
				display: flex; 
				flex-direction: column; 
				justify-content: center;
				// margin: 0 auto;
			}
		}
	}	
}
@media screen and (max-width: 948px){
	.row {
		.slider1 {
			&__img1 {
				width: 100%;
				// height: 316px;
				padding: 0 10px 0 0;
			}
			&__img2 {
				margin: 0 0 10px 0;
				width: 100%;
				// height: 151px;
			}
			&__img3 {
				width: 100%;
				// height: 151px;
			}
			&__item1 {
				// flex-direction: column;
			}
		}
	}
}
@media screen and (max-width: 440px){
	.row {
		.slider1 {
			&__img1 {
				padding: 0 3px 0 0;
			}
			&__img2 {
				margin: 0 0 5px 0;
			}
		}
	}
}
@media screen and (max-width: 380px){
	.row {
		.slider1 {
			&__img1 {
				padding: 0 2px 0 0;
			}
			&__img2 {
				margin: 0 0 5px 0;
			}
		}
	}
}
@media screen and (max-width: 340px){
	.row {
		.slider1 {
			&__img1 {
				padding: 0 2px 0 0;
			}
			&__img2 {
				margin: 0 0 3px 0;
			}
		}
	}
}