.header {
	&__content {
		height: 190px;
		padding-left: 10px;
		padding-right: 10px;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__menu {
		// height: 100px;
		width: 540px;
		margin-top: 86px;
		// height:50px;
		// border: 1px solid #000;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__logo {
		min-width: 120px;
		border: 1px solid #000;
		margin-top: 45px;
		margin-left: 10px;
		margin-right: 10px;	
		display: flex;
		flex-direction: column;
	}
	&__icons {
		display: flex;
		// flex-direction: row-reverse; 	
		justify-content: space-between;
		width: 255px;
		height: 28px;
		border: 1px solid #000;
		position: absolute;
		top: 40px;
		right: 20px;
		
		
	}
	&__basket {}
	&__search {
		// position: absolute;
		// left: 202px;
		border: 1px solid red;
		padding-left: 202px;
	}
}

.menu {
	&__item {
		color: #282828;
		font-size: 15px;
		font-weight: 500;
		letter-spacing: 1.74px;

		// border: 1px solid #000;
		transition: .3s linear;
		&:hover{
			color: #e9b979;
		}
	}
}
.left-menu {
	position: relative;
}
.logo {
	&__img {
		width: 101px;
		height: 63px;
		margin: 0 auto;
		display: block;
	}
	&__title {
		color: #282828;
		font-size: 19px;
		font-weight: 700;
		margin-top: 10px;
		text-transform: uppercase;
		text-align: center;	
	}
}
.basket {
	&__link {}
	&__img {
		width: 15px;
		height: 15px;
	}
}
.search {
	&__link {}
	&__img {
		width: 15px;
		height: 15px;
	}
}