@import "nullstyle";
@import "header";
@import "home";
@import "about";
@import "bestsellers";
@import "care";
@import "advantages";
@import "gallery";
@import "footer";

body{}
.wrapper {}
.container {
    overflow: hidden;
    // min-height: 100%;
    // width: 1440px;
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid red;
}