@charset "UTF-8";
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProRegular.eot");
  src: local("☺"), url("../fonts/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular.ttf") format("truetype"), url("../fonts/GothamProRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProMedium.eot");
  src: local("☺"), url("../fonts/GothamProMedium.woff") format("woff"), url("../fonts/GothamProMedium.ttf") format("truetype"), url("../fonts/GothamProMedium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProBold.eot");
  src: local("☺"), url("../fonts/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold.ttf") format("truetype"), url("../fonts/GothamProBold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: "Asap", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.services__title {
  text-align: center;
  margin-bottom: 202px;
  color: #282828;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.36px;
}
.services__text {
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 1340px;
  color: #e9b979;
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 136px;
}

.slider__button {
  width: 124px;
  height: 33px;
  color: #e9b979;
  margin: 0 auto;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.34px;
  border: 3px solid #e9b979;
  border-radius: 16px;
  padding: 5px;
  transition: all 0.3s linear;
  margin-top: 24px;
}
.slider__button:hover {
  background-color: #e9b979;
  color: #fff;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider {
  position: relative;
  padding: 0 50px;
  margin-bottom: 83px;
}

.slider__item_inner {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  margin: 0 auto;
}

.slider__img {
  max-width: 246px;
  max-width: 312px;
}

.slider__title {
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.slider__subtitle {
  color: #8a8a8a;
  text-decoration: none;
  position: absolute;
  left: 0;
}

.slider .slick-arrow {
  position: absolute;
  margin: -30px 0 0 0;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 6px;
  height: 10px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  border: 1px solid #999;
  background-color: #fff;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: url("../img/left-arrow.png") 40% no-repeat;
  transition: 0.3s linear;
}
.slider .slick-arrow.slick-prev:hover {
  background-color: #ebebeb;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/right-arrow.png") 60% no-repeat;
  border: 1px solid #999;
  background-color: #fff;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.slider .slick-arrow.slick-next:hover {
  background-color: #ebebeb;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #666;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: #333;
}

.slider__item {
  text-align: center;
  text-decoration: none;
  color: #8a8a8a;
  font-size: 18px;
  font-weight: 400;
  min-height: 500px;
}

@media screen and (min-width: 2559px) {
  .services {
    height: 100vh;
  }
  .services__title {
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 50px;
  }
  .services__link {
    padding-bottom: 150px;
    font-size: 24px;
  }

  .slider {
    padding: 0 15px;
    margin-bottom: 93px;
  }
  .slider__button {
    font-size: 13px;
    letter-spacing: 1.34px;
    border-radius: 16px;
    padding: 5px;
  }

  .slider__item_inner {
    display: flex;
    justify-content: space-between;
    max-width: 302px;
    margin: 0 auto;
  }

  .slider__img {
    max-width: 246px;
    max-width: 312px;
  }

  .slider .slick-arrow.slick-prev {
    left: 0;
    width: 36px;
    height: 36px;
  }

  .slider .slick-arrow.slick-next {
    width: 36px;
    height: 36px;
  }

  .slider__item {
    font-size: 20px;
    min-height: 550px;
  }
}
@media screen and (max-width: 1441px) {
  .services__title {
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 25px;
  }
  .services__link {
    padding-bottom: 60px;
    font-size: 16px;
  }

  .slider__button {
    font-size: 12px;
    letter-spacing: 1.34px;
    border-radius: 16px;
    padding: 5px;
  }

  .slider__item_inner {
    display: flex;
    justify-content: space-between;
    max-width: 302px;
    margin: 0 auto;
  }

  .slider__img {
    max-width: 246px;
    max-width: 312px;
  }

  .slider {
    padding: 0 30px;
    margin-bottom: 63px;
  }

  .slider__item_inner {
    max-width: 306px;
  }

  .slider__img {
    max-width: 306px;
    max-width: 372px;
  }

  .slider .slick-arrow {
    position: absolute;
    margin: -30px 0 0 0;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 6px;
    height: 10px;
  }

  .slider .slick-arrow.slick-prev {
    left: 20px;
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }

  .slider .slick-arrow.slick-next {
    right: 20px;
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }

  .slider__item {
    font-size: 16px;
    min-height: 500px;
  }
}
@media screen and (max-width: 1025px) {
  .services {
    min-height: 100vh;
  }
  .services__title {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 25px;
  }
  .services__link {
    padding-bottom: 30px;
    font-size: 14px;
  }
  .services__text {
    font-size: 23px;
  }

  .slider__button {
    font-size: 12px;
    letter-spacing: 1.34px;
    padding: 3px;
  }

  .slider {
    padding: 0 30px;
    margin-bottom: 10px;
  }

  .slider__item_inner {
    display: flex;
    justify-content: space-between;
    max-width: 302px;
    margin: 0 auto;
  }

  .slider__img {
    max-width: 246px;
    max-width: 312px;
  }

  .slider .slick-arrow {
    position: absolute;
    margin: -40px 0 0 0;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 6px;
    height: 10px;
  }

  .slider .slick-arrow.slick-prev {
    left: 20px;
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }

  .slider .slick-arrow.slick-next {
    right: 20px;
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }

  .slider__item {
    font-size: 16px;
    min-height: 380px;
  }

  .slider__title {
    font-size: 22px;
  }
}
@media screen and (max-width: 769px) {
  .services {
    min-height: 100vh;
  }
  .services__title {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 20px;
  }
  .services__link {
    padding-bottom: 30px;
    font-size: 14px;
  }

  .slider__button {
    font-size: 12px;
    letter-spacing: 1.34px;
    padding: 3px;
  }

  .slider {
    padding: 0 30px;
    margin-bottom: 10px;
  }

  .slider__item_inner {
    max-width: 265px;
  }

  .slider__img {
    max-width: 206px;
    max-width: 272px;
  }

  .slider .slick-arrow {
    position: absolute;
    margin: -40px 0 0 0;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 6px;
    height: 10px;
  }

  .slider .slick-arrow.slick-prev {
    left: 20px;
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }

  .slider .slick-arrow.slick-next {
    right: 20px;
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }

  .slider__item {
    font-size: 16px;
    min-height: 380px;
  }
}
@media screen and (max-width: 426px) {
  .services {
    min-height: 100%;
  }
  .services__title {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 24px;
  }
  .services__link {
    padding-bottom: 30px;
    font-size: 14px;
  }
  .services__text {
    font-size: 22px;
  }
}
@media screen and (max-width: 321px) {
  .services {
    min-height: 100%;
  }
  .services__title {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 20px;
  }
  .services__link {
    padding-bottom: 30px;
    font-size: 14px;
  }
  .slider__button {
    font-size: 11px;
    letter-spacing: 1.24px;
    padding: 2px;
  }

  .slider {
    padding: 0 30px;
    margin-bottom: 10px;
  }

  .slider__item_inner {
    max-width: 235px;
  }

  .slider__img {
    max-width: 176px;
    max-width: 242px;
  }

  .slider .slick-arrow {
    position: absolute;
    margin: -40px 0 0 0;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 6px;
    height: 10px;
  }

  .slider .slick-arrow.slick-prev {
    left: 20px;
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }

  .slider .slick-arrow.slick-next {
    right: 20px;
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }

  .slider__item {
    font-size: 16px;
    min-height: 380px;
  }

  .slider__title {
    font-size: 15px;
  }

  .slider__subtitle {
    font-size: 13px;
  }
}
.wrapper {
  overflow: hidden;
  font-family: GothamPro;
}

.container {
  padding: 0 10px;
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
}