@charset "UTF-8";
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProRegular.eot");
  src: local("☺"), url("../fonts/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular.ttf") format("truetype"), url("../fonts/GothamProRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProMedium.eot");
  src: local("☺"), url("../fonts/GothamProMedium.woff") format("woff"), url("../fonts/GothamProMedium.ttf") format("truetype"), url("../fonts/GothamProMedium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProBold.eot");
  src: local("☺"), url("../fonts/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold.ttf") format("truetype"), url("../fonts/GothamProBold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: "Asap", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  height: 100%;
}

.questions__main-title {
  color: #282828;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1.36px;
  text-align: center;
  margin-bottom: 202px;
}
.questions__main-text {
  text-align: center;
  color: #e9b979;
  font-size: 27px;
  font-weight: bold;
  display: block;
  max-width: 1370px;
  margin-bottom: 60px;
}

.block {
  margin-bottom: 107px;
}
.block__item {
  border: 1px solid #eaeaea;
}
.block__title {
  padding: 20px;
  padding-bottom: 40px;
  font-size: 20px;
  letter-spacing: -1.5px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.block__text {
  text-transform: uppercase;
  background-color: #f2f2f2;
  padding: 20px;
  padding-bottom: 40px;
  padding-left: 30px;
  letter-spacing: -1px;
  border-top: 1px solid #eaeaea;
  font-size: 18px;
  font-weight: 500;
  display: none;
}

.block__title:before,
.block__title:after {
  content: "";
  width: 20px;
  height: 4px;
  background-color: #535353;
  position: absolute;
  top: 50%;
  transition: all 0.3s ease 0s;
}

.block__title:before {
  transform: rotate(90deg);
  right: 38px;
}

.block__title:after {
  right: 38px;
}

.block__title.active:before {
  transform: rotate(810deg);
  display: none;
}

.block__title.active:after {
  transform: rotate(360deg);
}

@media screen and (max-width: 1440px) {
  .questions__main-title {
    margin-bottom: 82px;
  }
}
@media screen and (max-width: 1024px) {
  .questions__main-title {
    margin-bottom: 82px;
    font-size: 32px;
  }
  .questions__main-text {
    max-width: 1000px;
    font-size: 24px;
    margin-bottom: 106px;
  }

  .block__title {
    padding: 20px;
    padding-bottom: 35px;
    font-size: 20px;
    padding-left: 30px;
  }
  .block__text {
    padding: 20px;
    padding-bottom: 40px;
    padding-left: 30px;
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .questions__main-title {
    margin-bottom: 52px;
    font-size: 28px;
  }
  .questions__main-text {
    max-width: 750px;
    font-size: 20px;
    margin-bottom: 86px;
  }

  .block__title {
    padding: 20px;
    padding-bottom: 30px;
    font-size: 16px;
    padding-left: 30px;
  }
  .block__text {
    padding: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
    font-size: 16px;
  }
}
@media screen and (max-width: 425px) {
  .questions__main-title {
    margin-bottom: 32px;
    font-size: 28px;
  }
  .questions__main-text {
    max-width: 420px;
    font-size: 18px;
    margin-bottom: 66px;
  }

  .block__title {
    padding: 20px;
    padding-bottom: 30px;
    font-size: 16px;
    padding-left: 30px;
  }
  .block__text {
    padding: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
    font-size: 14px;
  }

  .block__title:after {
    right: 15px;
  }

  .block__title:before {
    transform: rotate(90deg);
    right: 15px;
  }

  .block__title:before,
.block__title:after {
    width: 16px;
    height: 4px;
  }
}
@media screen and (max-width: 375px) {
  .questions__main-title {
    margin-bottom: 22px;
    font-size: 26px;
  }
  .questions__main-text {
    max-width: 360px;
    font-size: 16px;
    margin-bottom: 56px;
  }

  .block__title {
    padding: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    padding-left: 20px;
  }
  .block__text {
    padding: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 14px;
  }

  .block__title:before,
.block__title:after {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .questions__main-title {
    margin-bottom: 22px;
    font-size: 26px;
  }
  .questions__main-text {
    max-width: 315px;
    font-size: 14px;
    margin-bottom: 56px;
  }

  .block__title {
    padding: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    padding-left: 15px;
  }
  .block__text {
    padding: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    font-size: 13px;
  }

  .block__title:before,
.block__title:after {
    display: none;
  }
}
.wrapper {
  overflow: hidden;
  font-family: GothamPro;
}

.container {
  overflow: hidden;
  padding: 0 10px;
  max-width: 1440px;
  margin: 0 auto;
}