.header
    .container
        .header__content    
            nav.header__menu
                .menu__item О нас
                .menu__item Каталог
                .menu__item Услуги
                .menu__item Вопрос-ответ
            .header__logo
                img.logo__img(src="", alt="")
                .header__title Добруш Древ
            nav.header__menu
                .menu__item Новости
                .menu__item Мебель по помещениям
                .menu__item Доставка
                .menu__item Контакты
            .header__basket
                a.basket__link(href="")
                    img.basket__img(src="", alt="")
            .header__search 
                a.search__link(href="")
                    img.search__img(src="", alt="")
                    