.questions
    .container  
        .questions__content
            h2.questions__main-title ВОПРОС - ОТВЕТ
            p.questions__main-text В данной рубрике можно узнать ответы на самые популярные вопросы. В случае если вы не нашли необходимой информации, рекомендуем обратиться за помощью к нашим экспертам. Для этого посетите страницу контактов и воспользуйтесь формой обратной связи. Консультация совершенно бесплатно и ни к чему вас не обязывает.
            .questions__questions   
                .questions__item
                    h2.questions__title
                    p.questions__text
                .questions__item
                    h2.questions__title
                    p.questions__text
                .questions__item
                    h2.questions__title
                    p.questions__text
                .questions__item
                    h2.questions__title
                    p.questions__text
                .questions__item
                    h2.questions__title
                    p.questions__text
                .questions__item
                    h2.questions__title
                    p.questions__text
                .questions__item
                    h2.questions__title
                    p.questions__text
                .questions__item
                    h2.questions__title
                    p.questions__text
                .questions__item
                    h2.questions__title
                    p.questions__text
