.questions
    .container  
        .questions__content
            h2.questions__main-title ВОПРОС - ОТВЕТ
            p.questions__main-text В данной рубрике можно узнать ответы на самые популярные вопросы. В случае если вы не нашли необходимой информации, рекомендуем обратиться за помощью к нашим экспертам. Для этого посетите страницу контактов и воспользуйтесь формой обратной связи. Консультация совершенно бесплатно и ни к чему вас не обязывает.
            .block.one
                .block__item
                    h2.block__title Как долго изготавливается мебель по индивидуальному заказу?
                    p.block__text Изготовление мебели проходит в несколько этапов. срок 14-60 дней.
                .block__item
                    h2.block__title в чем преимущества мебели из натурального дерева?
                    p.block__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim.
                .block__item
                    h2.block__title безопасна ли деревянная мебель для здоровья?
                    p.block__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit?
                .block__item
                    h2.block__title как выбрать цвет и дизайн мебели?
                    p.block__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia?
                .block__item
                    h2.block__title можно ли приобрести у вас готовую мебель?
                    p.block__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti!
                .block__item
                    h2.block__title сколько стоит элитная мебель
                    p.block__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis.
                .block__item
                    h2.block__title можно ли заказать у вас эксклюзивный мебельный гарнитур?
                    p.block__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis!
                .block__item
                    h2.block__title какие материалы используются для изготовления мебели, кроме дерева?
                    p.block__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque?