.questions
    .container  
        .questions__content
            .questions__main-title ВОПРОС - ОТВЕТ
            .questions__text
            .questions__questions   
                .questions__item
                    .questions__title
                    .questions__text
                .questions__item
                    .questions__title
                    .questions__text
                .questions__item
                    .questions__title
                    .questions__text
                .questions__item
                    .questions__title
                    .questions__text
                .questions__item
                    .questions__title
                    .questions__text
                .questions__item
                    .questions__title
                    .questions__text
                .questions__item
                    .questions__title
                    .questions__text
                .questions__item
                    .questions__title
                    .questions__text
                .questions__item
                    .questions__title
                    .questions__text
