@charset "UTF-8";
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProRegular.eot");
  src: local("☺"), url("../fonts/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular.ttf") format("truetype"), url("../fonts/GothamProRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProMedium.eot");
  src: local("☺"), url("../fonts/GothamProMedium.woff") format("woff"), url("../fonts/GothamProMedium.ttf") format("truetype"), url("../fonts/GothamProMedium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProBold.eot");
  src: local("☺"), url("../fonts/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold.ttf") format("truetype"), url("../fonts/GothamProBold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: "Asap", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.about-product__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-product__path {
  margin-top: 46px;
  margin-bottom: 90px;
  color: #686868;
}
.about-product__left-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 631px;
}
.about-product__img1 {
  width: 416px;
  height: 386px;
}
.about-product__img2 {
  width: 202px;
  height: 187px;
}
.about-product__img3 {
  width: 202px;
  height: 187px;
}
.about-product__right-block {
  width: 725px;
}
.about-product__title {
  font-weight: 700;
  color: #282828;
  font-size: 34px;
}
.about-product__info {
  margin-top: 35px;
  margin-bottom: 31px;
  color: #282828;
  font-size: 16px;
}
.about-product__subtitle span {
  font-weight: 700;
}
.about-product__select-color {
  display: flex;
  margin-top: 30px;
}
.about-product__select-color h2 {
  padding-top: 8px;
  font-weight: 700;
  color: #282828;
}
.about-product__button {
  position: relative;
  bottom: 0;
  margin-top: 100px;
}
.about-product__link {
  border-radius: 40px;
  border: 2px solid #e9b979;
  color: #e9b979;
  font-weight: 700;
  padding: 20px 50px;
  font-size: 23px;
  transition: 0.3s;
}
.about-product__link:hover {
  background-color: #e9b979;
  border: 0.1px solid #fff;
  color: #fff;
}

.images-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.select-color__color {
  display: none;
}

.color__item {
  padding-left: 22px;
}

.fake {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 50%;
}

.fake::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  opacity: 0;
  transition: 0.3s;
  border-radius: 50%;
}

.select-color__color:checked + .fake::before {
  opacity: 1;
}

.fake-1 {
  border: 5px solid #214c16;
  background-color: #214c16;
}

.fake-2 {
  border: 5px solid #d99500;
  background-color: #d99500;
}

.fake-3 {
  border: 5px solid #6c977f;
  background-color: #6c977f;
}

.fake-4 {
  border: 5px solid #847567;
  background-color: #847567;
}

.fake-5 {
  border: 5px solid #e2907a;
  background-color: #e2907a;
}

.price__checkbox:checked {
  opacity: 1;
}

@media screen and (min-width: 2560px) {
  .about-product__path {
    margin-top: 46px;
    margin-bottom: 90px;
    font-size: 24px;
  }
  .about-product__left-block {
    width: 631px;
  }
  .about-product__img1 {
    width: 416px;
    height: 386px;
  }
  .about-product__img2 {
    width: 202px;
    height: 187px;
  }
  .about-product__img3 {
    width: 202px;
    height: 187px;
  }
  .about-product__right-block {
    width: 725px;
  }
  .about-product__title {
    font-weight: 700;
    font-size: 38px;
  }
  .about-product__info {
    margin-top: 35px;
    margin-bottom: 31px;
    font-size: 20px;
  }
  .about-product__select-color {
    margin-top: 30px;
  }
  .about-product__select-color h2 {
    padding-top: 6px;
    font-size: 20px;
  }
  .about-product__subtitle {
    font-size: 20px;
  }
  .about-product__subtitle span {
    font-size: 20px;
  }
  .about-product__button {
    bottom: 0;
    margin-top: 100px;
  }
  .about-product__link {
    border-radius: 40px;
    padding: 20px 50px;
    font-size: 27px;
    transition: 0.3s;
  }
  .about-product__link:hover {
    border: 0.1px solid #fff;
    color: #fff;
  }
}
@media screen and (max-width: 1024px) {
  .about-product__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  .about-product__path {
    margin-top: 46px;
    margin-bottom: 60px;
  }
  .about-product__left-block {
    width: 611px;
  }
  .about-product__img1 {
    width: 416px;
    height: 346px;
  }
  .about-product__img2 {
    width: 182px;
    height: 167px;
  }
  .about-product__img3 {
    width: 182px;
    height: 167px;
  }
  .about-product__right-block {
    width: 35%;
    padding: 0 10px;
  }
  .about-product__title {
    font-size: 28px;
  }
  .about-product__info {
    margin-top: 25px;
    margin-bottom: 21px;
    font-size: 16px;
  }
  .about-product__select-color {
    margin-top: 20px;
  }
  .about-product__select-color h2 {
    padding-top: 8px;
  }
  .about-product__button {
    bottom: 0;
    margin-top: 80px;
  }
  .about-product__link {
    border-radius: 40px;
    padding: 15px 50px;
    font-size: 20px;
  }

  .color__item {
    padding-left: 22px;
  }

  .fake {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 50%;
  }

  .fake::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    opacity: 0;
    transition: 0.3s;
    border-radius: 50%;
  }
}
@media screen and (max-width: 768px) {
  .about-product__content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .about-product__path {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .about-product__left-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 595px;
    width: 631px;
  }
  .about-product__img1 {
    width: 416px;
    height: 386px;
  }
  .about-product__img2 {
    width: 202px;
    height: 187px;
  }
  .about-product__img3 {
    width: 202px;
    height: 187px;
  }
  .about-product__right-block {
    width: 725px;
  }
  .about-product__title {
    font-size: 28px;
  }
  .about-product__info {
    margin-top: 25px;
    margin-bottom: 21px;
    font-size: 16px;
  }
  .about-product__select-color {
    margin-top: 20px;
  }
  .about-product__select-color h2 {
    padding-top: 8px;
  }
  .about-product__button {
    bottom: 0;
    margin-top: 60px;
    margin-left: 50px;
  }
  .about-product__link {
    border-radius: 40px;
    padding: 15px 50px;
    font-size: 20px;
  }

  .images-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 416px;
  }

  .color__item {
    padding-left: 15px;
  }

  .fake {
    width: 30px;
    height: 30px;
  }

  .fake::before {
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 425px) {
  .about-product__content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .about-product__path {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .about-product__left-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 595px;
    width: 631px;
  }
  .about-product__img1 {
    width: 406px;
    height: 376px;
  }
  .about-product__img2 {
    width: 192px;
    height: 177px;
  }
  .about-product__img3 {
    width: 192px;
    height: 177px;
  }
  .about-product__right-block {
    max-width: 420px;
  }
  .about-product__title {
    font-size: 28px;
  }
  .about-product__info {
    margin-top: 25px;
    margin-bottom: 21px;
    font-size: 16px;
  }
  .about-product__select-color {
    margin-top: 20px;
  }
  .about-product__select-color h2 {
    padding-top: 8px;
  }
  .about-product__button {
    bottom: 0;
    padding-top: 60px;
    padding-bottom: 30px;
    display: block;
    margin: 0 auto;
  }
  .about-product__link {
    border-radius: 40px;
    padding: 15px 50px;
    font-size: 20px;
  }

  .images-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 406px;
  }

  .color__item {
    padding-left: 15px;
  }

  .fake {
    width: 30px;
    height: 30px;
  }

  .fake::before {
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 375px) {
  .about-product__content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .about-product__path {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .about-product__left-block {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    height: 416px;
    width: 631px;
    padding-left: 25px;
  }
  .about-product__img1 {
    width: 306px;
    height: 276px;
  }
  .about-product__img2 {
    width: 142px;
    height: 127px;
  }
  .about-product__img3 {
    width: 142px;
    height: 127px;
  }
  .about-product__right-block {
    max-width: 370px;
    padding: 0;
    padding-right: 5px;
    padding-top: 20px;
  }
  .about-product__title {
    font-size: 28px;
  }
  .about-product__info {
    max-width: 360px;
    margin-top: 25px;
    margin-bottom: 21px;
    font-size: 16px;
  }
  .about-product__select-color {
    margin-top: 20px;
  }
  .about-product__select-color h2 {
    padding-top: 8px;
  }
  .about-product__button {
    bottom: 0;
    padding-top: 40px;
    padding-bottom: 30px;
    display: block;
    margin: 0 auto;
  }
  .about-product__link {
    border-radius: 40px;
    padding: 15px 50px;
    font-size: 20px;
  }

  .images-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 306px;
  }

  .color__item {
    padding-left: 10px;
  }

  .fake {
    width: 30px;
    height: 30px;
  }

  .fake::before {
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 320px) {
  .about-product__content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .about-product__path {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .about-product__left-block {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    height: 363px;
    width: 631px;
    padding-left: 17px;
  }
  .about-product__img1 {
    width: 266px;
    height: 236px;
  }
  .about-product__img2 {
    width: 122px;
    height: 107px;
  }
  .about-product__img3 {
    width: 122px;
    height: 107px;
  }
  .about-product__right-block {
    max-width: 370px;
    padding: 0;
    padding-right: 5px;
    padding-top: 20px;
  }
  .about-product__title {
    font-size: 28px;
  }
  .about-product__info {
    max-width: 315px;
    margin-top: 25px;
    margin-bottom: 21px;
    font-size: 16px;
  }
  .about-product__select-color {
    margin-top: 20px;
  }
  .about-product__select-color h2 {
    padding-top: 8px;
  }
  .about-product__button {
    bottom: 0;
    padding-top: 40px;
    padding-bottom: 30px;
    display: block;
    margin: 0 auto;
  }
  .about-product__link {
    border-radius: 40px;
    padding: 15px 50px;
    font-size: 20px;
  }

  .images-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 266px;
  }

  .color__item {
    padding-left: 10px;
  }

  .fake {
    width: 30px;
    height: 30px;
  }

  .fake::before {
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
  }
}
.wrapper {
  overflow: hidden;
  font-family: GothamPro;
}

.container {
  padding: 0 10px;
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
}