.about-product
    .container
        h2.about-product__path Главная / Каталог / Вагонка
        .about-product__content
            .about-product__left-block
                img.about-product__img1(src="./img/img1.jpg", alt="")
                .images-block
                    img.about-product__img2(src="./img/img2.jpg", alt="")
                    img.about-product__img3(src="./img/img3.jpg", alt="")
            .about-product__right-block
                h2.about-product__title Вагонка (сосна, ель)
                p.about-product__info Вагонка любого размера. По всем вопросам обращайтесь к менеджерамкомпании. Контакты можно найти в специальном разделе.
                h2.about-product__subtitle <span>Материал:</span> сосна, ель
                .about-product__select-color
                    h2 Цвет:
                    label.color__item()
                        input.select-color__color(type="radio", name="color" value="c1")
                        span.fake.fake-1
                    label.color__item()
                        input.select-color__color(type="radio", name="color" value="c2")
                        span.fake.fake-2
                    label.color__item()
                        input.select-color__color(type="radio", name="color" value="c3")
                        span.fake.fake-3
                    label.color__item()
                        input.select-color__color(type="radio", name="color" value="c4")
                        span.fake.fake-4
                    label.color__item()
                        input.select-color__color(type="radio", name="color" value="c5")
                        span.fake.fake-5
                .about-product__quantity    
                    .quantity__button-left
                        a.quantity__left-link(href="")
                    .quantity__number
                    .quantity__button-right
                        a.quantity__right-link(href="")
                .about-product__button
                a.about-product__link(href="") В корзину