.about-product
    .container
        .about-product__content
            .about-product__path Главная / Каталог / Вагонка
            .about-product__left-block
                img.about-product__img1(src="", alt="")
                img.about-product__img2(src="", alt="")
                img.about-product__img3(src="", alt="")
            .about-product__right-block
                .about-product__title Вагонка (сосна, ель)
                .about-product__subtitle Вагонка любого размера. По всем вопросам обращайтесь к менеджерамкомпании. Контакты можно найти в специальном разделе.
                form.about-product__select-color(action="")
                    input.select-color__color1(type="radio", name="color" value="c1")
                    input.select-color__color2(type="radio", name="color" value="c2")
                    input.select-color__color3(type="radio", name="color" value="c3")
                    input.select-color__color4(type="radio", name="color" value="c4")
                    input.select-color__color5(type="radio", name="color" value="c5")
                .about-product__quantity    
                    .quantity__button-left
                        a.quantity__left-link(href="")
                    .quantity__number
                    .quantity__button-right
                        a.quantity__right-link(href="")
                .about-product__button
                a.about-product__link(href="") В корзину