.contact {
  &__content {
    margin-bottom: 145px;
  }
  &__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #282828;
    letter-spacing: 1.36px;
    margin-bottom: 143px;
  }
  &__form {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__file-info {
    color: #949494;
    font-size: 10px;
    font-weight: 500;
  }
}
.form {
  &__name {
    margin-bottom: 40px;
    color: #949494;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0;
    padding-left: 10px;
    width: 488px;
    border: 1px solid #806f82;
    &:focus {
        border-bottom: 1px solid #e9b979;
    }
  }
  &__email {
    margin-bottom: 40px;
    color: #949494;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0;
    padding-left: 10px;
    width: 488px;
    border: 1px solid #806f82;
    &:focus {
        border-bottom: 1px solid #e9b979;
    }
  }
  &__tel-num {
    margin-bottom: 40px;
    color: #949494;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0;
    padding-left: 10px;
    width: 488px;
    border: 1px solid #806f82;
    &:focus {
        border-bottom: 1px solid #e9b979;
    }
  }
  &__country {
    margin-bottom: 40px;
    color: #000;
    font-weight: 700;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0;
    padding-left: 10px;
    width: 488px;
    border: 1px solid #806f82;
    &:focus {
        border-bottom: 1px solid #e9b979;
    }
  }
  &__message {
    // margin-bottom: 40px;
    color: #949494;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0;
    padding-left: 10px;
    
    min-height: 40px;
    max-height: 40px;
    min-width: 875px;
    max-width: 875px;
    border: 1px solid #806f82;
    &:focus {
        border-bottom: 1px solid #e9b979;
    }
  }
  &__file {
    // opacity: 0;
    // border-bottom: 1px solid #000;
    display: flex;
  }
  &__file_button {
    // display: block;
    font-size: 18px;
    font-weight: 500;
    color: #949494;
    width: 173px;
    height: 30px;
  }
  &__file_file {
    position: absolute;
    overflow: hidden;
    z-index: -1;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
  }
  &__img {
    width: 18px;
    height: 20px;
    margin-right: 7px;
  }
  &__fake {
    color: #949494;
    font-size: 18px;
    font-weight: 500;
    padding: 7px;
    display: flex;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #e9b979;
  }
}

.country {
  &__item {
    color: #2b2a29;
    font-size: 18px;
    font-weight: 500;
  }
}
    // .form__name,
    // .form__email,
    // .form__tel-num,
    // .form__country,
    // .form__message,
    // .form__file {
    //     // border: 1px solid red;
    // }


//mediaquires

@media screen and (min-width: 2559px) {}
@media screen and (max-width: 1024px) {
  .form {
    &__message {
      font-size: 18px;
      padding: 10px 0;
      padding-left: 10px;
      min-height: 40px;
      max-height: 40px;
      min-width: 740px;
      max-width: 740px;
    }
  }
}
@media screen and (max-width: 768px) {
  .contact {
    &__content {
      margin-bottom: 115px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__title {
      font-size: 30px;
      margin-bottom: 80px;
    }
    &__form {
      max-width: 768px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__file-info {
      font-size: 10px;
    }
  }
  .form {
    &__name {
      margin-bottom: 35px;
      font-size: 17px;
      padding: 10px 0;
      padding-left: 10px;
      width: 468px;
    }
    &__email {
      margin-bottom: 35px;
      font-size: 17px;
      padding: 10px 0;
      padding-left: 10px;
      width: 468px;
    }
    &__tel-num {
      margin-bottom: 35px;
      font-size: 17px;
      padding: 10px 0;
      padding-left: 10px;
      width: 468px;
    }
    &__country {
      margin-bottom: 35px;
      font-size: 17px;
      padding: 10px 0;
      padding-left: 10px;
      width: 468px;
    }
    &__message {
      margin: 0 20px;
      font-size: 18px;
      padding: 10px 0;
      padding-left: 10px;
      margin-bottom: 35px;
      min-height: 40px;
      max-height: 40px;
      min-width: 540px;
      max-width: 540px;
    }
    &__file {}
    &__file_button {
      font-size: 17px;
      width: 173px;
      height: 30px;
    }
    &__file_file {}
    &__img {
      width: 17px;
      height: 20px;
      margin-right: 7px;
    }
    &__fake {
      font-size: 17px;
      padding: 7px;
    }
  }
  .country {
    &__item {
      font-size: 17px;
    }
  }
}

@media screen and (max-width: 425px) {
  .contact {
    &__content {
      height: 100vh;
      margin-bottom: 85px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__title {
      font-size: 26px;
      margin-bottom: 60px;
    }
    &__form {
      max-width: 410px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__file-info {
      font-size: 10px;
    }
  }
  .form {
    &__name {
      margin-bottom: 30px;
      font-size: 16px;
      padding: 10px 0;
      padding-left: 10px;
      width: 380px;
    }
    &__email {
      margin-bottom: 30px;
      font-size: 16px;
      padding: 10px 0;
      padding-left: 10px;
      width: 380px;
    }
    &__tel-num {
      margin-bottom: 30px;
      font-size: 16px;
      padding: 10px 0;
      padding-left: 10px;
      width: 380px;
    }
    &__country {
      margin-bottom: 30px;
      font-size: 16px;
      padding: 10px 0;
      padding-left: 10px;
      width: 380px;
    }
    &__message {
      font-size: 16px;
      padding: 10px 0;
      padding-left: 10px;
      margin-bottom: 30px;
      min-height: 40px;
      max-height: 40px;
      min-width: 380px;
      max-width: 380px;
    }
    &__file {}
    &__file_button {
      font-size: 17px;
      width: 173px;
      height: 30px;
    }
    &__file_file {}
    &__img {
      width: 17px;
      height: 20px;
      margin-right: 7px;
    }
    &__fake {
      font-size: 17px;
      padding: 7px;
    }
  }
  .country {
    &__item {
      font-size: 17px;
    }
  }
}
@media screen and (max-width: 375px) {
  .contact {
    &__content {
      margin-bottom: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__title {
      font-size: 22px;
      margin-bottom: 50px;
    }
    &__form {
      max-width: 340px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__file-info {
      font-size: 10px;
    }
  }
  .form {
    &__name {
      margin-bottom: 30px;
      font-size: 16px;
      padding: 10px 0;
      padding-left: 10px;
      width: 340px;
    }
    &__email {
      margin-bottom: 30px;
      font-size: 16px;
      padding: 10px 0;
      padding-left: 10px;
      width: 340px;
    }
    &__tel-num {
      margin-bottom: 30px;
      font-size: 16px;
      padding: 10px 0;
      padding-left: 10px;
      width: 340px;
    }
    &__country {
      margin-bottom: 30px;
      font-size: 16px;
      padding: 10px 0;
      padding-left: 10px;
      width: 340px;
    }
    &__message {
      font-size: 16px;
      padding: 10px 0;
      padding-left: 10px;
      margin-bottom: 30px;
      min-height: 40px;
      max-height: 100px;
      min-width: 340px;
      max-width: 340px;
    }
    &__file {}
    &__file_button {
      font-size: 17px;
      width: 153px;
      height: 30px;
    }
    &__file_file {}
    &__img {
      width: 17px;
      height: 20px;
      margin-right: 7px;
    }
    &__fake {
      font-size: 17px;
      padding: 7px;
    }
  }
  .country {
    &__item {
      font-size: 17px;
    }
  }
}
@media screen and (max-width: 320px) {
  .contact {
    &__content {
      margin-bottom: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__title {
      font-size: 20px;
      margin-bottom: 50px;
    }
    &__form {
      max-width: 300px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__file-info {
      font-size: 10px;
    }
  }
  .form {
    &__name {
      margin-bottom: 20px;
      font-size: 16px;
      padding: 10px 0;
      padding-left: 10px;
      width: 300px;
    }
    &__email {
      margin-bottom: 20px;
      font-size: 16px;
      padding: 10px 0;
      padding-left: 10px;
      width: 300px;
    }
    &__tel-num {
      margin-bottom: 20px;
      font-size: 16px;
      padding: 10px 0;
      padding-left: 10px;
      width: 300px;
    }
    &__country {
      margin-bottom: 20px;
      font-size: 16px;
      padding: 10px 0;
      padding-left: 10px;
      width: 300px;
    }
    &__message {
      font-size: 16px;
      padding: 10px 0;
      padding-left: 10px;
      margin-bottom: 30px;
      min-height: 40px;
      max-height: 100px;
      min-width: 300px;
      max-width: 300px;
    }
    &__file {}
    &__file_button {
      font-size: 15px;
      width: 143px;
      height: 30px;
    }
    &__file_file {}
    &__img {
      width: 17px;
      height: 20px;
      margin-right: 7px;
    }
    &__fake {
      font-size: 17px;
      padding: 7px;
    }
  }
  .country {
    &__item {
      font-size: 17px;
    }
  }
}