.contact {
  &__content {}
  &__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #282828;
    letter-spacing: 1.36px;
    margin-bottom: 143px;
  }
  &__form {}
  &__file-info {}
}
.container {}
.form {
  &__name {}
  &__email {}
  &__tel-num {}
  &__country {}
  &__message {}
  &__file {}
}
.country {
  &__item {}
}
