.payment-and-delivery {
	&__content {
		margin-bottom: 78px;
	}
	&__title {
		margin-bottom: 76px;
		color: #282828;
		font-size: 36px;
		font-weight: 700;
		text-align: center;
	}
	&__payment {
		font-size: 24px;
		color: #282828;
	}
	&__payment-details {
		font-size: 24px;
		color: #282828;
	}
	&__delivery-details {
		font-size: 24px;
		color: #282828;
	}
}
.payment {
	&__title {
		font-weight: 500;
		margin-bottom: 68px;
	}
	&__text1 {
		padding-left: 40px;
	}
	&__text2 {
		padding-left: 40px;
	}
}
.payment-details {
	&__prompt {
		color: #adacac;
		margin-top: 40px;
	}
	&__info {
		text-align: center;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	&__text1 {
		margin-bottom: 40px;
	}
	&__text2 {
		margin-bottom: 68px;
	}
}
.delivery-details {
	&__title {
		font-weight: 500;
		margin-bottom: 40px;
	}
	&__text1 {
		margin-bottom: 40px;
	}
	&__text2 {}
}
